.mar_1{ margin-top: 1rem;}
.yu_ban{ margin-top: 1rem;}
.yu_wrapper{ color: #333; overflow: hidden;}

.yu_wrapper .yu_ban .span_1,.new_wrapper .yu_ban .span_1,.huan_wrap .yu_ban .span_1{ font-size: .62rem; color: #fff; top: 44%; left: 15.6%; text-shadow:2px 2px 1px #000;}
.yu_wrapper .yu_ban .span_1{ top: 14%;}
.jinr_body .yu_ban .span_1{ top: 44%;}
.yu_wrapper .yu_auto_12{ width:64%; margin: 0 auto; }
.yu_wrapper .yu_con1 .v1{ color: #333; margin: .4rem 0 .3rem;}

.yu_wrapper input::-webkit-input-placeholder,.jinwrap2 input::-webkit-input-placeholder { color:#575757; }  
.yu_wrapper input:-moz-placeholder,.jinwrap2 input:-moz-placeholder { color:#575757; }  
.yu_wrapper input::-moz-placeholder,.jinwrap2 input::-moz-placeholder  { color:#575757; }  
.yu_wrapper input:-ms-input-placeholder,.jinwrap2 input:-ms-input-placeholder { color:#575757; }  


.yu_wrapper .yu_con1 .li1 input,.jin_qie2 .li1 input{display: none;}
.yu_wrapper .yu_con1 .li1 label,.jin_qie2 .li1 label{ display: inline-block; margin-right: .5rem; cursor: pointer;}
.yu_wrapper #test{ box-sizing: border-box;
position: relative; display: inline-block; width: 16px; height: 16px; border-radius: 50%; float: left; margin: 4px 10px 0; padding: 3px; background-clip: content-box; border:2px solid rgba(0, 0, 0, 0.8); }
.yu_wrapper input:checked + span{background-color:rgba(0,0,0,0.8); }

.yu_wrapper .yu_con1 .zuo{ margin-bottom: .35rem;width: 46%;}
.yu_wrapper .yu_con1 .zuo .v2{ width: 100%;}
.yu_wrapper .yu_con1 .zuo .v2 .in_1{ height: .5rem; line-height: .5rem; width:100%; padding-left: .25rem;}
.yu_wrapper .yu_con1 .zuo .v2 input{ border: #818181 2px solid;}
.yu_wrapper .yu_con1 .zuo .v2 .in_1.cur,.huan_wrap .ul_1 input.cur,.yu_wrapper .yu_con1 .you .v2 select.cur,.yu_wrapper .yu_con1 .you .v3 select.cur{border:#e10012 2px solid;}
.yu_wrapper .yu_con1 .zuo .v2_1{ margin:.54rem 0 .2rem 0;}
.yu_wrapper .yu_con1 .zuo .v3 .v3_1{ margin-top: .1rem;}

.yu_wrapper .yu_con1 .zuo .dropdown{width:44%;}

.yu_wrapper .yu_con1 .dropdown .mo_r{ padding-left: .25rem;color:#575757; height: .5rem; line-height: .5rem;border: #818181 2px solid; width: 100%; outline: none;border-radius: 0}
.yu_wrapper .yu_con1 .ul1{ background: #fff; top: .48rem; left: 0; width: 100%; display: none; z-index: 1; }



.yu_wrapper .yu_con1 .ul1 li{ line-height: .5rem; height: .5rem; padding: 0 .25rem; border-bottom: #d6d6d6 1px solid; cursor: pointer; color: #575757;}
.yu_wrapper .yu_con1 .ul1 li:hover{ color: #e10012;}
.yu_wrapper .yu_con1 .dropdown .mo_r b{ font-weight: normal;}
.yu_wrapper .yu_con1 .dropdown .mo_r img{ right: .15rem; top: 50%; width: .22rem; margin-top: -.07rem;	}
.yu_wrapper .yu_con1 .dropdown .mo_r img.cur,.shi_p img:hover{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

/*.yu_wrapper .yu_con1 .you .dropdown{ height: .45rem; line-height: .45rem; width: 100%;    border: #818181 2px solid;}
*/
.yu_wrapper .yu_con1 .dropdown.cur{ border:#e10012 2px solid;}
.yu_wrapper .yu_con1 .ul1 li b{ font-weight: normal; font-size: 13px;}


.yu_wrapper .yu_con1 .you{width: 46%;}
.yu_wrapper .yu_con1 .you .li1{ min-height: .45rem;}
.yu_wrapper .yu_con1 .you .v2{ margin-top: .13rem;}
.yu_wrapper .yu_con1 .you .v2 .dropdown,.yu_wrapper .yu_con1 .you .v3 .dropdown{ width:100%; margin-top: .1rem; line-height: 0;}
.yu_wrapper .yu_con1 .you .v3{ margin-top: .66rem;}

.yu_wrapper .yu_con1 .v4_1 .sp_1{width: 16px;height:16px; margin-right: .05rem; overflow: hidden; position: relative;top:1px; border: 1px solid rgba(0, 0, 0, 0.8)}
.yu_wrapper .yu_con1 .v4_1 .sp_1.cur img{ display: block;}
.yu_wrapper .yu_con1 .v4_1 img{ height: 100%; display: none;}
.yu_wrapper .yu_con1 .v4_1 span{ display: inline-block;}
.yu_wrapper .yu_con1 .v4_1 .sp_2 b{ font-weight: normal;color: #000; margin-left: 2px; opacity: .8;}
.yu_wrapper .yu_con1 .v4_1 .xian_t{ text-decoration: underline;}
.yu_wrapper .yu_con1 .yi_yd{ font-style:normal}


.yu_wrapper .yu_con1 .v4_2{transform: skewX(-15deg); margin:30px auto 0;background: #8e8e8e;}.yu_wrapper .yu_con1 .v4_2:hover{background: #a1a1a1;}
.yu_wrapper .yu_con1 .v4_2 a{ color: #fff; background: none; border:none;  font-size: .25rem; width: 100%; height: 100%;transform: skewX(15deg); opacity: .8;}
.yu_wrapper .yu_con1 .v4_2 a:hover{ color: #fff;}


.yu_con2{ margin: 1.1rem  auto 1.1rem; width: 75%; overflow: hidden;}
.yu_con2 dl{ width: 33.3%; position: relative; cursor: pointer; float: left; min-height: 100px;}
.yu_con2 dt{ width: .72rem; margin: 0 auto .1rem;}
.yu_con2 dd{ color: #575757;}
.yu_con2 dl:last-child .dd1{ display: none;}
.yu_con2 dl .dd1{ height: 80%; background: #afafaf; width: 2px; right: 0; top: 10%;}
.yu_con2 dl .dd2{ overflow: hidden; height: .4rem;}
.yu_con2 dl .dd2 .span_1{ /*font-size: .26rem; */top: 0;}
.yu_con2 dl .dd2 .span_2{ height: .38rem; line-height: .38rem; top: .4rem;}
.yu_con2 dl .dd2 span{ width: 100%;}

.yu_con2 dl:hover .span_1{ top: -.4rem;}
.yu_con2 dl:hover .span_2{ top: 0;}
.yu_con2 dl .span_1,.yu_con2 dl .span_2{ height: .4rem;}



.yu_wrapper .con_4 .v1_1 dl{ font-size: 14px;}
.yu_wrapper .item{ max-height: 3rem;}


.yu_tan,.haoc_tan_tan{ top: 0; left: 0; width: 100%; height: 100%; z-index: 100; background: url(../images/in_9.png)repeat; opacity: 0; z-index: -1;}

.yins_tan{ top: 0; left: 0; width: 100%; height: 100%; background: url(../images/in_9.png)repeat; opacity: 0; z-index: -1;}
.yins_tan.cur,.haoc_tan_tan.cur,.yu_tan.cur{ z-index: 100; opacity: 1; 
	-webkit-animation: yins_tan .5s both ease-in-out;
	animation: yins_tan .5s both ease-in-out;
}

@-webkit-keyframes yins_tan {
	0%{ opacity: 0; }
	1%{ z-index: 100;opacity: 0; }
	100%{ opacity: 1;  z-index: 100;}
}

@keyframes yins_tan {
	0%{ opacity: 0; }
	1%{ z-index: 100;opacity: 0; }
	100%{ opacity: 1; z-index: 100; }
}

.yu_tan_1{ /*width: 5.5rem;*/ text-align: center; }
.yu_tan_1 .con .v2 .v2_2{ height: .4rem; }

.yu_tan .con{ width: 7rem; height: 4rem; left: 50%; top: 45%; margin: -2rem 0 0 -3.5rem;}
.yu_tan .con .v1,.yins_tan .con .v1,.haoc_tan_tan .con .v1{ background: #7aa3ce; height: 26px;}
.yu_tan .con .v2{ background: #fff; height: 5.65rem; background-size: 100% 100%; color: #333;}
.yu_tan .con .v2 .v2_1{ padding-top: .75rem; font-weight: bold;}
.yu_tan .con .v2 .v2_2{ line-height: .25rem; font-size: .16rem; margin: .15rem auto 0; width: 5.3rem; font-size: .2rem; height: 1.2rem; overflow: hidden; line-height: .3rem;}
.yu_tan .con .v2 .v2_3{ color: #fff; background: url(../images/yu_4.png) no-repeat; background-size: 100% 100%; width: 1.55rem; height: .4rem; line-height: .4rem; margin: .05rem auto 0;}

.yu_tan .con .v2 .v2_2_app{ line-height: .25rem; font-size: .16rem; margin: .15rem auto 0; width: 4.3rem; font-size: .2rem; height: .4rem; overflow: hidden; line-height: .3rem;}


.yins_tan .con,.haoc_tan_tan .con { width: 10.9rem; height: 6.6rem; left: 50%; top: 50%; margin: -3.3rem 0 0 -5.45rem; color: #333;}
.yins_tan .con .v1 img,.haoc_tan_tan .con .v1 img{ float: right; margin: 4.5px .18rem 0 0;}
.yins_tan .con_2,.haoc_tan_tan .con_2{ background:#c8c8c8; width: 100%; height: 6.2rem; background-size: 100% 100%;}
.yins_tan .v2,.haoc_tan_tan .v2{ padding-top: .68rem;}
.yins_tan .v3,.haoc_tan_tan .v3{ padding: 0 .6rem; margin: .45rem auto 0; line-height: .3rem; height: 4.3rem; width: 9rem;}
.yins_tan .v3 .v3_2{ margin-top: .4rem;}

.wei_body #ascrail2000{ background: #969696; width: 2px !important; position: fixed !important; top: 50% !important; margin-top: -1.5rem; display: none;}
.wei_body #ascrail2000.cur{ display: block !important;}

/* button 4*/
.set_9_btn4-corner.cur{
	-webkit-animation: section3_dd .3s .09s both ease-out;
	 animation: section3_dd .3s .09s both ease-out;
} 

@-webkit-keyframes section3_dd {
	0%{ background: none;}
	100%{ background: #8e8e8e;}
}
@keyframes section3_dd {
	0%{ background: none;}
	100%{ background: #8e8e8e;}
}

.set_9_btn4-corner.cur .set_sp{ 
	-webkit-animation: section3_dd1 .3s .09s both ease-out;
	 animation: section3_dd1 .3s .09s both ease-out;
}
@-webkit-keyframes section3_dd1 {
	0%{ color: #000;}
	100%{ color: #fff;}
}
@keyframes section3_dd1 {
	0%{ color: #000;}
	100%{ color: #fff;}
}

.set_9_btn4-corner.cur:hover span{ background: #8e8e8e;}



.set_9_btn4-corner .set_sp{font-weight: normal;}

.set_9_btn4-corner { border: none; background: transparent; color: #333; width:auto;
  position:relative; line-height:.47rem; cursor:pointer; margin-right: 2em;}
.set_9_btn4-corner span.cur{background-color: #8e8e8e;}
.set_9_btn4-corner span { position: absolute; background-color:rgba(0,0,0,0.8);display: block;
  transition: all 200ms;display: none
}
.set_9_btn4-corner .line1,
.set_9_btn4-corner .line3 { height: 1px; width: .5rem;}

.set_9_btn4-corner .line2,
.set_9_btn4-corner .line4 { height: .2rem; width: 1px;}

.set_9_btn4-corner .line1,
.set_9_btn4-corner .line2 { top: 0;left: 0;}

.set_9_btn4-corner .line3,
.set_9_btn4-corner .line4 { bottom: 0; right: 0;}

.set_9_btn4-corner.reverse .line1,
.set_9_btn4-corner.reverse .line3 { width: 100%;}

.set_9_btn4-corner.reverse .line2,
.set_9_btn4-corner.reverse .line4 { height: 100%;}

.set_9_btn4-corner:hover,
.set_9_btn4-corner:active { background-color: transparent;color: #333;}

.set_9_btn4-corner:hover .line1,
.set_9_btn4-corner:active .line1,
.set_9_btn4-corner:hover .line3,
.set_9_btn4-corner:active .line3{ width: 100%;}

.set_9_btn4-corner:hover .line2,
.set_9_btn4-corner:active .line2,
.set_9_btn4-corner:hover .line4,
.set_9_btn4-corner:active .line4{ height: 100%;}

.set_9_btn4-corner:hover.reverse .line1,
.set_9_btn4-corner:active.reverse .line1,
.set_9_btn4-corner:hover.reverse .line3,
.set_9_btn4-corner:active.reverse .line3 { width: .2rem;}

.set_9_btn4-corner:hover.reverse .line2,
.set_9_btn4-corner:active.reverse .line2,
.set_9_btn4-corner:hover.reverse .line4,
.set_9_btn4-corner:active.reverse .line4 { height: .2rem;} 



.yu_tan{ top: 0; left: 0; width: 100%; height: 100%; z-index: 100; background: url(../images/in_9.png)repeat;  z-index:-1;}

.yins_tan{ top: 0; left: 0; width: 100%; height: 100%; background: url(../images/in_9.png)repeat; opacity: 0; z-index: -1;}
.yins_tan.cur{ z-index: 100; opacity: 1; 
	-webkit-animation: yins_tan .5s both ease-in-out;
	animation: yins_tan .5s both ease-in-out;
}
.yu_tan.cur{ z-index: 100; display: block!important;
	-webkit-animation: yins_tan .5s both ease-in-out;
	animation: yins_tan .5s both ease-in-out;
}

@-webkit-keyframes yins_tan {
	0%{ opacity: 0; }
	1%{ z-index: 100;opacity: 0; }
	100%{ opacity: 1;  z-index: 100;}
}

@keyframes yins_tan {
	0%{ opacity: 0; }
	1%{ z-index: 100;opacity: 0; }
	100%{ opacity: 1; z-index: 100; }
}


/*==================================预约试驾 end===============================*/

#map-list{ width: 100%; height: 6.14rem; }
.wei_con{ margin-top: .8rem; color: #575757; }
.ditu_qie{ margin-left: 1rem; width: 25%;}
.wei_con .weide_le{width: 100%;}
.wei_con .wei_le .span_1{ margin-bottom: .35rem; position: absolute; top: 0; right: 0; }
.wei_con .wei_le .span_1 a{ color: #575757;}
.wei_con .wei_le .span_1 img{ vertical-align: middle; display: inline-block; margin-right: .12rem; margin-top: .-1rem; margin-top: -.05rem; width: 20px;}
.wei_con .wei_le .con_1 select::-ms-expand { display: none; }
.wei_con .wei_le .con_1 select{ border:none; width: 100%; height: .5rem; line-height: .5rem; margin-bottom: .13rem; min-height: .5rem;
border: #575757 2px solid; padding-left: .2rem; outline: none;-webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;font-size:.2rem;
    background:none; background:url(../images/yu_2_1.png) no-repeat right center;border-radius: 0}
.wei_con .wei_le .con_2{ margin-bottom: .45rem; position: relative;}

.wei_con .wei_item { height: 3.5rem; overflow: hidden; position: relative;}
.wei_con .wei_item .span_2{ margin-bottom: .15rem; width:65%; }
.wei_con .wei_item a{ color: #575757;}
/*.wei_con .wei_item_1 .ul_2{ padding-bottom: .35rem;}*/
.wei_con .wei_item .ul_2 li{ line-height: 150%;}
.wei_con .wei_item .wei_v1{ width: 95%;}
.wei_con .wei_item .wei_v1 a.cur,.wei_con .wei_item .wei_v1 a:hover{ color: #000; opacity: .8;}
.wei_body #ascrail2000{ background: #969696; width: 2px !important; position: fixed !important; top: 50% !important; margin-top: -1.5rem;}
.wei_body #ascrail2000 div,.weixiu #ascrail2000 div{ background: #656464 !important; width: 4px !important; border-radius: 0 !important; left: 1px; }
.wei_body #ascrail2000.cur{ display: block !important;}
.weixiu #ascrail2000.yi{ opacity: 0 !important;}

.wei_con .wei_ri{ width: 65%; }

.wei_con .wei_item .wei_v2{ margin: .2rem 0 .3rem;}
.wei_con .wei_item .wei_v2 a{ width: 42%; line-height: .38rem; height: .35rem; color: #fff; opacity: .8;background: #8e8e8e;}.wei_con .wei_item .wei_v2 a:hover{background: #a1a1a1;color:#fff}
/*.wei_con .wei_item .wei_v2 a:hover{background: #bd1926;}*/
.wei_con .wei_item .wei_v2 .a1{ margin-left: .1rem;}
.wei_con .wei_item .wei_v2 .a2{ margin-right: .1rem;}

.weide_le{ font-size: .20rem; color: #575757;}
.weide_le .a_1{ width: 1.25rem; height: .45rem; line-height: .45rem; color: #000; opacity: .8;}
.weide_le .a_1 b{ margin-right: .1rem;}
.weide_le .a_1>b{ font-weight: normal;}
.weide_le .a_1:hover{ background:#7aa3ce; color: #fff;}
.weide_le .v1{ color: #fff; width: 1.35rem; height: .5rem; line-height: .5rem; background:#575757; margin-top: .55rem;}
.weide_le .v2 .span_1{ color: #575757; margin: .4rem 0 .15rem 0;}
.weide_le .v2{ border-bottom: #575757 1px solid; padding-bottom: .4rem;}
.weide_le .v3 a{ line-height: .6rem; height: .6rem;border-bottom: #575757 1px solid;color: #575757;}
.weide_le .v3 .sp_1{ margin-left: .2rem;}
.weide_le .v3 .sp_2{ margin-right: .2rem;}
.weide_le .v3 a:hover .sp_2{ margin-right: .1rem;}

.jing_con1 .jing_v1 input{ width: 100%; height: .5rem; line-height: .5rem;border:none; border: #575757 2px solid; padding-left: .25rem; margin-bottom: .1rem;font-size:.2rem;}
.jing_con1 .jing_v1 img{ top: .12rem; right: .1rem; width: .26rem;}

#map-list{ font-size: .14rem;}
.weixiu #ascrail2000.cur{ opacity: 0 !important;}
.weixiu #ascrail2000{ display: block !important; background: #969696;
    width: 2px !important; z-index: 8 !important;}

.m-marks {position: absolute; margin: 0;  padding: 0; width: 30px; height: 36px; left: -10px; top: -30px;overflow: hidden;    background: url(../images/t_biao.png) no-repeat;background-size: 100% 100%;}
.m-marks.active{ width:37px; height: 44px;}
.pointer { cursor: pointer !important; }
.BMapLib_SearchInfoWindow{font-family: 'SingleMaltaRegular' !important;}
.BMap_stdMpPan,.BMap_stdMpSlider{ display: none !important;}
.BMap_stdMpZoom .BMap_button{ top: 105px;}
.wei_ri .BMap_stdMpCtrl { right: auto !important; left: 10px !important; top: auto !important; bottom: 10px !important;}


/*============================查找经销商======================*/

.jinwrap2{ color: #575757; font-size: .18rem; margin: .7rem auto 0;}

.jinwrap2 .v1 .span_1{}
.jinwrap2 .v1 .v1_1,.jinwrap2 .v1 li{ border:#8e8e8e 1px solid;}
.jinwrap2 .v1 li{float: left; cursor: pointer;}
.jinwrap2 .v1 .v1_1,.jinwrap2 .v1 li{ color: #8e8e8e; width: 2.33rem; height: .5rem; line-height: .5rem;}
.jinwrap2 .v1 li.cur{ color: #fff; background:#8e8e8e; }
/*.jinwrap2 .v1 ul{ display: none;}*/
.jinwrap2 .v1 .v1_1 .song,.new_con .v1 .song{ display: inline-block;}
.jinwrap2 .v1 .v1_1.cur .song,.new_con .v1.cur .song{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}




.jinwrap2 .jin_qie2{ display: none;}
.jinwrap2 .jin_qie2,.jinwrap2 .v1,.jinwrap2 .qie1_con,.jinwrap2 .jin_qie1 .qie1_con1 ul{ width: 72%; margin: 0 auto;}
.jinwrap2 .jin_qie2{ margin: .7rem auto 0;}

.jinwrap2 .jin_qie2 .qie_v1{ color: #333; margin-bottom: .35rem;}
.jinwrap2 .jin_qie2 .v2{ margin-bottom: .36rem;}
.jinwrap2 .jin_qie2 .v2 input{ width: 5rem; height: .45rem; line-height: .45rem; border:#575757 2px solid; padding-left: .25rem; margin-left: 21%; 
	font-size: .2rem;}
.jinwrap2 .jin_qie2 .v2 input.cur{ border: 2px solid rgba(0, 0, 0, 0.8);}
.jinwrap2 .jin_qie2 .li1{ margin: .08rem 0 0 .15rem; color: #333;}
.jinwrap2 .jin_qie2 .v3{ margin-top: .8rem;}
.jinwrap2 .jin_qie2 .v3 span{ color: #000; opacity: .8;}
.jinwrap2 .jin_qie2 .v3 span b{text-decoration: underline; font-weight: normal; margin: 0 2px;}
.jinwrap2 .jin_qie2 .v4{ margin: .3rem auto 0;}
.jinwrap2 .jin_qie2 .v4:hover input{ opacity: 1;}
.jinwrap2 .jin_qie2 .v4 input{ width: 100%; height: 100%; background:none; border:none; color: #000; opacity: .8;}
.jinwrap2 .jin_qie2 .v5{ margin-top: 1.1rem;}
.jinwrap2 .jin_qie2 .v5_1{ line-height: .31rem; width: 8.1rem; margin: .1rem auto 0}
.haoc_tan_tan .v3{ height: 4.3rem;}
.haoc_tan_tan .v3 .v3_1{ margin-bottom: .4rem;}
#v_container{ height: .43rem; width: 1.1rem; margin:2px .25rem 0 .25rem;}
.jinwrap2 .jin_qie2 .v2 .span_1{ margin-top: .1rem; font-size: .2rem;}
.jinwrap2 .jin_qie2 .v2 .span_1 img{ display: inline-block; vertical-align: middle; margin-right: 2px; width: 15px;}
#v_container canvas{padding-right: 78px; height: .43rem; width: 1.3rem;}

.jinwrap2 .jin_qie1{ color: #333; margin-top: .7rem;}
.jinwrap2 .jin_qie1 .left { width: 5.8rem;}
.jinwrap2 .jin_qie1 .right{ width: 5.8rem; margin-top: .1rem; position: relative; top: -1rem;}
.jinwrap2 .jin_qie1 .right dt{ width: 5rem; overflow: hidden; margin: 0 auto; height: 2.2rem;}
.jinwrap2 .jin_qie1 .left .v1{ margin-bottom: .1rem; width: 100%;}
.jinwrap2 .jin_qie1 .left select::-ms-expand { display: none; }
.jinwrap2 .jin_qie1 .left select{ width: 5.4rem; height: .45rem; /*line-height: .45rem; */border:none;border:#575757 2px solid; margin-top: .45rem;color: #575757; padding-left:.25rem; outline: none; font-size: .2rem;  -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background:none; background:url(../images/yu_2_1.png) no-repeat right center;}
.jinwrap2 .jin_qie1 .right dt img{ width: 100%;}
.jinwrap2 .jin_qie1 .right dd{ margin-top: .55rem; font-size: .31rem;}

.jinwrap2 .jin_qie1 .qie1_con1{ background-color: #ebebeb; padding-top: .6rem; margin-top: 1.1rem;padding-bottom: .6rem;}
.jinwrap2 .jin_qie1 .qie1_con1 .v2 span{border-bottom: 2px solid rgba(0, 0, 0, 0.8); width: auto; padding-bottom: .05rem; display: inline-block;}
.jinwrap2 .jin_qie1 .qie1_con1 li{ padding: .55rem 0; border-bottom:#575757 1px solid; float: left;width: 50%; height: .3rem;}
.jinwrap2 .jin_qie1 .qie1_con1 li span{ margin-left: .6rem;}
.jinwrap2 .jin_qie1 .qie1_con1 .span_1{ color: #575757; width: 1.5rem; border-right: #575757 1px solid;}
.jinwrap2 .jin_qie1 .qie1_con1 .span_2{}
.jinwrap2 .qie1_con2 .v3 a{ color: #fff; line-height: .54rem; opacity: .8;}
.jinwrap2 .qie1_con2 .v3{ margin: .68rem auto .2rem;background: #8e8e8e;}.jinwrap2 .qie1_con2 .v3:hover{background: #a1a1a1;}
.jinwrap2 .qie1_con2 .v3:hover a{ color: #fff; opacity: 1;}
.jinwrap2 .qie1_con2 .v4{ color: #575757; margin-top: .7rem;}

.jinwrap2 .jin_qie1 .qie1_con1 li.li2 .span_1{ margin-left: 2rem; }

.jinwrap2 .qie1_con .jin_bl_v1 {margin-top: .45rem;margin-bottom: .8rem;}



.demo { width: 100%; margin-top: .33rem;}

.slider-container {
  width: 100% !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-container .back-bar {
  height: 10px;
  position: relative;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 8;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 8;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -.45rem;
  font-size: .35rem;
  white-space: nowrap; left: 0 !important;
  line-height: 1; color: #7aa3ce; background: #fff; z-index: 8;
}
.slider-container .back-bar .focused {
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale { top: 2px; position: relative;}
.slider-container .scale span { position: absolute;}
.slider-container .scale ins { font-size: .35rem;text-decoration: none;
  position: absolute; left: 0; top: .17rem; color: #575757; line-height: 1;}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer { cursor: auto;}
.theme-green .back-bar { background: #aeaeae; height: 1px;}
.theme-green .back-bar .selected-bar { background: #8e8e8e; height: 4px;}
.theme-green .back-bar .pointer {
  background: url(../images/pointer.png) no-repeat; width: .35rem; height: .36rem; background-size: 100% 100%; top: -.17rem;
}

.demo1 .scale span:first-child ins,.demo2 .scale span:first-child ins{ margin-left: 0 !important;/* color: #7aa3ce;*/}
.demo1 .scale span:last-child ins,.jin_bl .scale span:last-child ins{ margin-left: 0 !important; left: -.38rem;}


.span_de_sp1,.span_de_sp2{ width: .15rem; height: .15rem;border-radius: 50%; z-index: 8;}
.span_de_sp1{ left: 0rem; background: #8e8e8e; top: -.06rem;  }
.span_de_sp2{ right: 0rem; background: #575757; top: -.06rem;}
.tuo_zz,.tuo_zz1{ left: 0;}
.tuo_yz,.tuo_yz1{ right: 0;}
.tuo_zz,.tuo_yz,.tuo_zz1,.tuo_yz1{ font-size: .35rem; top: .17rem; color: #575757 !important;}
.a1_va2,.a1_va3{ display: none;}
.tuo_yz.cur{ color:#7aa3ce !important;}

.bor_none { border: none !important;}

.jinwrap2 .jin_qie2 .v2 .fa_song { width: 1.3rem; height: .45rem; line-height: .43rem; margin-left: .2rem;
    background: none; border: none; background: #8e8e8e; color: #fff; padding: 0; border: #8e8e8e 2px solid;
    position: relative; top: 1px;font-size: .2rem;}

/**/
.single_div02{ position: relative; }
.zhe_a{ position: absolute; left: -10%; top:-0.391rem;width: 120%;height: 0.781rem;z-index:22222;display: none;}
/*.span_de_sp1,.span_de_sp2,.span_de_sp3,.span_de_sp4,.span_de_sp5,.span_de_02,.span_de_03{ width: 0.234rem; height: 0.234rem;border-radius: 50%; z-index: 10;}
.span_de_sp1{ left: 0rem; background: #7AA3CE; top: -.094rem;  }
.span_de_sp2{ right: 0rem; background: #575757; top: -.094rem;}
.span_de_sp3{ left: 24%; background: #575757; top: -.094rem;}
.span_de_sp4{ left: 49%; background: #575757; top: -.094rem;}
.span_de_sp5{ left: 74%; background: #575757; top: -.094rem;}

.span_de_sp6 { left: 24%; background: #575757; top: -.094rem;}
.span_de_sp7 { left: 49%; background: #575757; top: -.094rem;}
.span_de_sp8 { left: 74%; background: #575757; top: -.094rem;}

.span_de_sp9 { left: 49%; background: #575757; top: -.094rem;}*/


/*========================================金融服务  end===============================*/

.font_12{ font-size: .12rem;}
.font_14{ font-size: .14rem;}
.font_15{ font-size: .15rem;}
.font_16{ font-size: .16rem;}
.font_17{ font-size: .17rem;}
.font_18{ font-size: .18rem;}
.font_19{ font-size: .19rem;}
.font_20{font-size: .2rem;}
.font_22{ font-size: .22rem;}
.font_23{ font-size: .23rem;}
.font_24{ font-size: .24rem;}
.font_25{ font-size: .25rem;}
.font_26{ font-size: .26rem;}
.font_28{ font-size: .28rem;}
.font_30{ font-size: .3rem;}
.font_38{font-size: .38rem;}
.font_39{font-size: .39rem;}
.font_40{font-size: .4rem;}
.font_42{font-size: .42rem;}
.font_45{ font-size: .45rem;}
.font_50{font-size: .5rem;}
.font_58{font-size: .58rem;}
.font_60{font-size: .6rem;}


.yu_con1 select::-ms-expand {
display: none;
}

.yu_con1 select{  -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background:none; background:url(../images/yu_2_1.png) no-repeat right center;}

.bian_x{transform: skewX(-13deg);}
.bian_x1{transform: skewX(13deg);}
.an_niu{ width: 2.45rem !important; line-height: .54rem; height: .54rem;}
.an_niu:hover{ background:#8e8e8e ;}
.an_niu:hover input{ color: #fff !important;}
.an_n{ width: 1.8rem;}

.yu_wrapper input::-webkit-input-placeholder,.jinwrap2 input::-webkit-input-placeholder { color:#575757; }  
.yu_wrapper input:-moz-placeholder,.jinwrap2 input:-moz-placeholder { color:#575757; }  
.yu_wrapper input::-moz-placeholder,.jinwrap2 input::-moz-placeholder  { color:#575757; }  
.yu_wrapper input:-ms-input-placeholder,.jinwrap2 input:-ms-input-placeholder { color:#575757; } 
.resop .flinsel.cur select::-ms-input-placeholder{color:#575757; }

.username.cur1::-webkit-input-placeholder,
.mobile.cur1::-webkit-input-placeholder,
.model.cur1::-webkit-input-placeholder,
.number.cur1::-webkit-input-placeholder,
.duan_x.cur1::-webkit-input-placeholder,
.cartype.cur1::-webkit-input-placeholder,
.dealer.cur1::-webkit-input-placeholder,
.code_input.cur1::-webkit-input-placeholder { color: #e10012 !important;}
.resop .flinsel.cur select::-webkit-input-placeholder{color:#575757; }

.username.cur1:-moz-placeholder,
.mobile.cur1:-moz-placeholder,
.model.cur1:-moz-placeholder,
.number.cur1:-moz-placeholder,
.duan_x.cur1:-moz-placeholder,
.cartype.cur1:-moz-placeholder,
.dealer.cur1:-moz-placeholder,
.code_input.cur1:-moz-placeholder { color:#e10012 !important;}
.resop .flinsel.cur select::-moz-input-placeholder{color:#575757; }
/*ei5*/
.ei5item{color:#333}
.imgI10{width:100%}

.ei5kv{width:100%;line-height: 0;/*margin-top:1rem;*/}
.ei5nav{background:#f6f6f6;/*overflow: hidden;*/z-index: 10;position: relative}
.ei5nav .etopnav li{width:25%;float:left;background:#f6f6f6;font-size:.16rem;text-align: center;line-height:3.8em;cursor: pointer;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;position: relative;}
.ei5navW{position:relative}
.ei5nav .etopnav {background:#f6f6f6}
.ei5nav .etopnav ul{width:71%;margin: 0 auto;}
.ei5nav .etopnav li a{color:#333}
/*.ei5nav .etopnav li:after{content:"";width:1px;height: 100%; background: #dbdbdb; display: block;position:absolute;right: 0;top: 0}*/
.ei5nav .etopnav li.active,.ei5nav .etopnav li:hover{background: #f6f6f6;}
.ei5nav .etopnav li.active a ,.ei5nav .etopnav li:hover a{color:#5bb060;}
.ei5nav .etopnav li.active:before{width:100%;height: .04rem;background: #5bb060;display: block;content: "";position: absolute;left: 0;top: 0}
#carsow1 {position: absolute;top:-2.2rem;}
#carsow2 ,#carsow3 ,#carsow4 ,#carsow5 {position: absolute;top:-1.7rem;}
#carsow6 ,#carsow7 ,#carsow8 {position: absolute;top:-1rem;}
.ei5nav .ei5navW.curr{position:fixed;width:100%;left: 0;top: 0;}
.ei5nav .esubtop{height:.6rem;line-height:.6rem;background: #5bb060;position:absolute;width:100%;top:0;text-align: center;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;opacity: 0;z-index: -1}
.ei5nav .esubtop.curr{top:.6rem;opacity: 1}
.ei5nav .esubtop li{display: inline-block;color:#fff;font-size:.16rem;margin: 0 .53rem}
.ei5nav .esubtop li a{color:#fff;padding:0 .5rem}

.ei5item{position:relative;width: 79%;margin: 0 auto;}
.ei5hig{width:64.2%;margin:0.5rem auto 0;/*margin:1.43rem auto 0;*/}
.ei5hig li{text-align:center;width:25%;float: left;font-size:.18rem;}
.ei5hig li p img{width:40.8%; margin-bottom:.15rem;}
.ei5hig li b{font-size:.7rem;font-weight: normal;line-height: 1em;}
.ei5hig li p.info {
   font-size:18px;
   line-height:1.6em
}

.ei5tit{ margin:1em 0 1.5em;}
.ei5tit h2{font-size:.30rem;font-weight: normal;line-height:1.4em;color:#33b457;}
.ei5tit h3{font-size:.24rem;font-weight: normal;line-height:1.4em;color:#999;}
.ei5tit3{text-align:center;padding:.80rem 0 .1rem}

.ei5txt{line-height:1.6em;font-size:.18em;width:34%;text-align: justify;color:#333}
.ei5txt h4{font-size:.22rem;font-weight: normal;line-height:1.4em; margin-bottom: .5em}
.ei5txt p{text-align:left; font-size:18px; line-height:1.6em}
.ei5btn{color: #52a04e;font-size:.2rem;border:1px solid #52a04e;display:inline-block;padding:0 2em;line-height: 2em; -webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;transform: skewX(-25deg);}.ei5btn span{transform: skewX(25deg);display: inline-block}
.ei5btn:hover{background:#52a04e;color:#fff;}
.ei5w1{position:relative;margin-top: .85rem;}
.ei5w1 .picbox{width:100%;float:right;position: relative;z-index:1;}
.ei5w1 .ei5btn{margin-top: 1.5em;}
.ei5w1 .ei5Tit1{left:0%;top: 0;position: absolute;    z-index: 2;}
.ei5w1 .picbox .carei5{position:absolute;top:0;right: 0}
.porol{position: relative;display: inline-block}
@media (max-width: 1400px){
.ei5w1 .picbox .carei5{position:absolute;top:0;right: 0}
}

.ei5tit2{padding-bottom:.20rem}
.ei5txtfr{float:right;}
.ei5txtfl{float:left}
.ei5w2{margin-top: .45rem;}
.ei5w2 .picbox{width:61.5%;float: left}
.ei5w2 .ei5txtfr{ margin-top:5%;    text-align: right;}
.ei5w1 .picboxfr{width:56.5%;float:right;}
.ei5w1 .picboxfl{width:56.5%;float:left;}
.ei5w5fp{width:72%;margin:1.42rem auto .40rem;}

.ei5w3 li{width:33.3333%;float:left;position: relative;line-height: 0;padding:.02rem}
.ei5w3 li p{position:absolute;left: 0;bottom:.5em;width:100%;color:#fff;line-height: 2em;padding: 0 2em;box-sizing: border-box;font-size: .22rem;}

.ei5tableSoll{height:8rem;border-top: 2px solid #52a04e;overflow: hidden;}
.tableTab{line-height:.52rem; clear: both;overflow: hidden;}
.tableTab li{/*width:20%;*/float: left;text-align: center;background: #f7f7f7;color: #333;font-size:.18rem;line-height:.7rem;cursor: pointer}
.tableTab li:hover{color:#7bc483}
.tableTab li.cur,.tableTab li.cur:hover{color:#fff;background: #7bc483;}
.ei5table{border:1px solid #ddd;border-right:0;border-top:0;}
.ei5table .mCSB_scrollTools{right:-7px;}
.ei5table .mCSB_scrollTools .mCSB_draggerRail{background-color: #333;background-color: rgba(0,0,0,0.1);}
.ei5table .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #333;background-color:#52a04e;}
.ei5table .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar ,.resultFl .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.ei5table .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #52a04e;background-color:#52a04e;}

.ei5table td ,.ei5table th{line-height:.4rem;padding:.12rem .6rem;border-right:1px solid #ececec;font-size:.18rem; text-align: center;}
.ei5table th{ background:url(../images/ei5Pic13.jpg) repeat-y;background-size: 100%;text-align: left;color:#fff;font-weight: normal;font-size:.18rem;}

.ei5table .trbg{background:#f6f6f6;}
.ei5table .thbj{text-align:left;}
.ei5dow{text-align: right; margin-bottom:.3rem; }
.ei5dow a:hover img ,.ei5dow a .imgdodw{display:none}
.ei5dow a:hover .imgdodw{display:inline-block}
.ei5dow img{width:10.5%;}

.ei5w7{ display: flex;flex-wrap:wrap;justify-content:space-between; margin-top: 1.15rem;}
.ei5w7 li{line-height:0;position: relative;position: relative;width:25%;padding:.02rem;}
.ei5w7 li span{position:absolute;left: 0;top: 0;width:100%;height: 100%;display: flex; justify-content:center;align-items:center;background:rgba(0,0,0,.5);-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;opacity: 0;transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg); -webkit-transform:rotate(0deg);cursor: pointer;border:.02rem solid #fff;}
.ei5w7 li:hover span{opacity:1}
.ei5w7 li:hover span img{-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.ei5w7 li img{width:100%;}
.ei5w7 li span img{width:.8rem;}


.Rw_jjtan{ width: 100%; height: 100%; background:rgba(0,0,0,.8);; top: 0; left: 0; z-index: -1; opacity: 0;}
.Rw_jjtan.cur{ opacity: 1; z-index: 9999;}
.Rw_jjtan .con{ width: 60%; top: 50%; left:20%; position: absolute; }
.Rw_jjtan .con>.clearfix{position: fixed;top: .4rem; right: .5rem;}
.Rw_jjtan .con .gb_im{ width: .48rem; margin-bottom: .1rem; text-align: right; display: inline-block;}
.Rw_jjtan .con li{ display: inline-block; cursor: pointer;}
.Rw_jjtan .con ul{ padding-top: .35rem;}
.Rw_jjtan .con li img{ width: 1.95rem;}
.Rw_jjtan .shu_zi{ bottom:.5rem; left: 50%; opacity: .5;}
.Rw_jjtan .con .gb_im:hover{ transform:rotate(180deg);	-webkit-transform:rotate(180deg); }
.Rw_jjtan .con .gb_im{ width: .48rem; margin-bottom: .1rem; text-align: right; display: inline-block;}

.mg6_jjtan_slick .slick-prev ,.mg6_jjtan_slick .slick-next{ background: url(../images/ei5jt.svg) no-repeat; left: -.6rem; top:50%; background-size: 100% 100%;position: absolute;overflow: hidden;width:.5rem;text-indent: -50em;border:none;height: .6rem;transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg); -webkit-transform:rotate(180deg);cursor: pointer;margin-top:-.3rem;}
.mg6_jjtan_slick .slick-next{left:auto;right: -.6rem;transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
a,button,input{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: none;box-shadow: none;}

.ei5Yuit{width:82%;margin:0 auto .5rem;overflow: hidden}
.ei5yutit{margin:1rem 0 .6rem;text-align: center;}
.ei5yutit h1{font-weight: normal}
.ei5yu1{width:34.2%;float:left;margin-right:8%;}
.ei5Yuit select::-ms-expand {
display: none;}
.ei5Yuit select{  -webkit-appearance: none;width:100%;
    -moz-appearance: none;
    appearance:none;
    background:none; background: url(../images/yu_2_1.png) no-repeat right center;background-size: 10% auto;border-radius: 0;
    padding-left: .15rem;
    color: #575757;
    height: .5rem;
    line-height: .5rem;
    border:#818181 2px solid;
    width: 100%;
    outline: none;}
.fltit{width:28.5%;float:left;text-align: center;line-height:.45rem;}
.fltit6{ width: 33%; position: relative;  margin-left: -4%;}
.selectbox{width:70%;float:right}
.selectbox input{width:100%;height: .5rem;
    line-height: .5rem;
    width: 100%;
    padding-left: .15rem;border:#818181 2px solid;}
.selectbox{margin-bottom:.18rem;}
.username.cur,.mobile.cur,.demo-input.cur,#cartype.cur,#city.cur{border:#e10012 1px solid;}

.ei5yu3{width:20%; margin-left:-5%; float:left;margin-top:.1rem;}
.ei5yu3 .re{display: inline-block;cursor: pointer;/*width:29%;*/}
.ei5yu3 input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: none;box-shadow: none;display: none;}
.ei5yu3 #test{ box-sizing: border-box;position: relative; display: inline-block; width:16px; height:16px;border: 2px solid #5bb060; border-radius: 50%; float: left; margin: 4px 10px 0; padding:3px; background-clip: content-box; }
.ei5yu3 input:checked + span{ background: #5bb060; }
.ei5yu4{width:100%;float:left;padding-top: .3rem;}
.ei5yu4 .sp_1{ width: .2rem; height: .2rem; border:#5bb060 2px solid; margin-right: .1rem; overflow: hidden; position: relative; top: 2px;}
.ei5yu4 .sp_1.cur img{ display: block;}
.ei5yu4 img{ height: 100%; display: none;}
.ei5yu4 span{ display: inline-block;}
.ei5yu4 .sp_2 b{ font-weight: normal;color: #5bb060; margin-left: 2px;}
.ei5yu4 .xian_t{ text-decoration: underline;}
.ei5yu4 .yi_yd{ font-style:normal}
.ei5yu4 .p1{margin-left:3.28rem;text-align: left}
.ei5yu4 .p2{margin-left:3.64rem;text-align: left;color:#666666;margin-top: .4em;}
body .layui-laydate .layui-this{background:#5ab15f!important}

.ei5yu5{width:100%;float:left;text-align: center;}
.ei5yu5 { margin: .18rem auto 0;}
.ei5yu5 .v4_2{
  width: 2rem;
  height: 0.48rem;
  font-size: 0.24rem;
  color: #fff;
  -webkit-transform: skew(-20deg, 0);
          transform: skew(-20deg, 0);
  margin: 0.5rem auto 0 auto;
  position: relative;
  text-align: center;
  line-height: 0.48rem;
  background-color: #5bb060;
  cursor: pointer;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;}
/* transform: skewX(30deg); */
.ei5yu5 .v4_2 a{  display: inline-block;
  -webkit-transform: skew(15deg, 0);
          transform: skew(15deg, 0);}
.ei5yu5 .set_9_btn4-corner span{background-color: #5bb060;}
/* button 4*/
.ei5yu5 .set_9_btn4-corner.cur{
	-webkit-animation: ei5section3_dd .3s .09s both ease-out;
	 animation: ei5section3_dd .3s .09s both ease-out;
} 

@-webkit-keyframes ei5section3_dd {
	0%{ background: none;}
	100%{ background: #5bb060;}
}
@keyframes ei5section3_dd {
	0%{ background: none;}
	100%{ background: #5bb060;}
}
.ei5yu5 .an_niu:hover{ background: #5bb060;}
.ei5yu5 .v4_2:hover{ color: #fff;background: #327f37;}
.yins_tan .con .hdei5v1{background:#5ab15f;}


.yins_tan .v3 .mCSB_scrollTools{right:-7px;}
.yins_tan .v3 .mCSB_scrollTools .mCSB_draggerRail{background-color: #333;background-color: rgba(0,0,0,0.1);}
.yins_tan .v3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #333;background-color:#52a04e;}
.yins_tan .v3 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar ,.resultFl .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.yins_tan .v3 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #52a04e;background-color:#52a04e;}

/*.resebot{width:100%;position: fixed;left: 0;bottom:-100px;background:#edeef0;padding:12px 0;text-align: center;z-index: 10;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.resebot.active{bottom:0;}
.resebot select::-ms-expand {
display: none;}
.resebot select{  -webkit-appearance: none;width:100%;
    -moz-appearance: none;
    appearance:none;
    background:none; background:url(../images/yu_2_3.jpg) no-repeat right center;background-size:auto 100%;
    padding-left: .15rem;
    color: #575757;
    border: #b3b3b3 1px solid;
    width: 100%;
    font-size:14px;
    outline: none;padding-right: 2.6em;}
.restit{font-size:22px;line-height:36px;margin-right:10px;}
.restit img{vertical-align: middle;width:36px;margin-right:10px;margin-top:-2px}
.resebot div{display:inline-block}
.flinte{margin-left: .18rem;}
.flinte input{line-height:36px;height:36px; border:1px solid #aaaaaa;background: none;padding:0 1em;font-size:14px;width:180px;float: left;}
.flinsel{margin-left: .18rem;}
.flinsel select{line-height:36px;border:1px solid #aaaaaa;height:36px; padding:0 1em;width:220px;float: left;}
.flinBtn{margin-left: .4rem;}
.flinBtn a{width:132px;line-height:34px;border:1px solid #5ab15f;text-align: center;font-size:16px; background: #5ab15f;color: #fff;display: inline-block;float: left;cursor:pointer;transform: skewX(-20deg);}.flinBtn a span{transform: skewX(20deg);display: inline-block}
.flinBtn a:hover{background: #48a54d;}*/

/*ei5 详情*/
.ei5Det{width:100%;height: 100%;position: fixed;left: 0;top: 0;bottom: 0;right: 0;background:url(../images/dB.png) repeat; z-index: 10000;color: #333;/*display: none*/ opacity: 0; z-index: -11;}
.ei5Det.cur{ opacity: 1; z-index: 10000;}
.fixedi5{ position: fixed; top: 0; left: 0; z-index: -1;margin:0 auto;width:60%;min-width:800px;}
.ei5Det.cur .fixedi5{ z-index:11;}

.ei5deC{position:fixed;top:.47rem;right:.4rem;width:.4rem;cursor:pointer;}.ei5deC img{width:100%;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.ei5deC:hover img{transform:rotate(180deg);	-webkit-transform:rotate(180deg)}
.ei5deitem{margin:0 auto;width:100%;min-width:800px; /*display:none;*/background: #fff;}
.DeText{font-size:.18rem;line-height:1.5em; margin:0 .74rem 0;}
.DeText h4{font-size:.24rem;/*color: #52a04e;*/ margin:.2rem 0 0/*.1rem*/;font-weight: normal;line-height:1.5em;}
.DeText p{ /*margin-bottom:.5rem*/font-size:18px; line-height:1.6em}
.DeText .fc9{display:block;color: #828282;font-size:.16rem}
.DeText .fc3{font-size:.16rem}
.DeText .fc5{display:block;color: #52a04e;}
/*.ei5deitem .imgbot{ margin-bottom:-.6rem;}*/
.DeTextul{height:3rem; margin:15px 0 0;}
.DeTextul ul ,.ulnexb{margin:0 .74rem}
.DeTextul li{/*padding-left:1.66rem;position: relative*/margin-top:.2rem}
.DeTextul li .D_icon{width:1.11rem;position:absolute;left:.14rem;top: 0}.D_icon img{width:100%}
.DeTextul li h4{line-height:1.5em;color:#333}
.tCenent h4{line-height:.9rem;color:#333;text-align: center}
.ei5Det *{outline:none}

.ei5deitem .slick-prev ,.ei5deitem .slick-next{width:.5rem;height: .8rem;position: absolute;background:rgba(91,176,96,.65) url(../images/buttonSlick.png) no-repeat center; background-size: 100%; top:3.07rem;display: block;overflow:hidden;text-indent: -20em;border:none;cursor: pointer;}
.ei5deitem .slick-prev:hover ,.ei5deitem .slick-next:hover{background-color:rgba(91,176,96,1)}
.ei5deitem .slick-prev{left:0}
.ei5deitem .slick-next{right:0;transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.ei5deitem .slick-disabled{display:none!important;}
.ei5deitem .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #E2E2E2;
	background-color: #52a04e;}

/*互联网汽车*/
/*.intcon{font-size:.18rem;color: #333333;width:87.5%;margin:.2rem auto 1rem;}
.intcon p{text-align: justify;word-break:break-all;word-wrap:break-word; margin-bottom: 1em;line-height:2em;}
.intTit{text-align: center;position: relative;color: #333;margin-top: 1.4rem}
.intTit span{font-size:.3rem;background: #fff;display: inline-block;padding: 0 1em;position: relative;z-index: 1}
.intTit em{width:89%;position: absolute;left: 5%;top: 50%;height: 1px;background: #999999;display: block}
.intH6{text-align: center;font-size: .24rem;color: #333;line-height:1.8em;margin:.12rem auto.3rem}
.intPic{font-size:.18rem; margin-bottom: 1em;}
.intPic img{box-shadow:0 0 .25rem rgba(0,0,0,.4);}
.hintit{width:89%;margin:.3rem auto 0}*/

/**/
/*.enercon{font-size:.2rem;margin-bottom:.8rem}
.intHeH{width:90%;text-align: left}
.intvideo .jwplayer{width:100%; margin-bottom: .3rem}
.enercon .txt{width:90%; margin-right: auto;margin-left: auto}
.eneitem{width:80%; margin:-.72rem auto 0;color: #333;position: relative;text-align: justify;font-size:.18rem;line-height: 1.8em;overflow: hidden;}
.eneitem .enepic{width:57.6%;}
.eneitem .enetxt{width:42.4%;position:absolute;top:50%;transform: translateY(-50%); }
.eneitem .enttit{margin-bottom: .25rem;line-height: .38rem;font-size: .24rem;}
.eneitem .enttit img{display:inline-block;height:.38rem;margin-right:1em; vertical-align:middle;position: relative;margin-top: -.05rem}
.eneitemfl .enetxt{ right:1.23%;}.eneitemfl .enepic{float:left}
.eneitem.eneitemfl{margin-top:-.62rem}
.eneitemfr .enetxt{ left:1.23%;}.eneitemfr .enepic{float:right}
.eneitem5{margin-bottom:1rem}*/

/*new car*/
/*.actw_hd{padding-top:1rem;}
.actw{ background:url(../images/bj.png) no-repeat center bottom;background-size:1920px auto;}
.actw_con{max-width:1289px;margin:.53rem auto 0}
.actw_con .clearfix{line-height:0}
.actw_fot{max-width:1226px;margin: 0 auto}*/

/*car all*/
/*.mllmod{background: url(../images/bjtop.jpg) repeat-x top;background-size:auto .92rem; margin-top:1rem;padding-bottom:1.5rem}
.mllmodT{width:81.5%;margin:0 auto .2rem;font-size:.3rem;color:#333;line-height:.36rem;padding-top: .92rem;position: relative}
.mllmodT img{width:.22rem;margin-right: .15rem;float: left;}
.mllmodB{width:77.2%;margin:0 auto; overflow: hidden;}
.mllmodB ul{width:107%;}
.mllmodB li{width:27%; margin-right:6.3333%; float: left;text-align: center;padding:.4rem 0 .3rem;}
.mllmodB li img{width:100%}
.mllmodB li h4{font-size:.3rem;color:#333;font-weight: normal;width: 86%;}
.mllmodB1 li h4{color:#7aa3ce}
.mllmodB li p{font-size:.26rem;color:#333;padding:.3rem 0}
.mllmodB li b.btn{border:2px solid #7aa3ce;font-size:.26rem;color: #7aa3ce;width:2.4rem;padding: 0;margin: 0;display: inline-block;line-height:.5rem;font-weight: normal}
.mllmodB li b.btn:hover{background: #7aa3ce;color: #fff;}
#map2,#map3{position:absolute;top:-1rem}
.bosshow .nav{box-shadow: 0 0 10px rgba(0,0,0,.1);}*/

/*.resop .flinte.cur input,.resop .flinsel.cur select{ border: 1px solid #e10012; }
.resop .flinte.cur input{ border: 1px solid #e10012; }*/
/*#date1{background: url('../images/rl_icon.png') no-repeat; background-position: 95% center; background-size: 8% auto}*/

/*.yu_wrapper .yu_con1 .zuo .v2 .in_1.cur,
.huan_wrap .ul_1 input.cur,
.yu_wrapper .yu_con1 .you .v2 select.cur,
.yu_wrapper .yu_con1 .you .v3 select.cur{border: 2px solid rgba(0, 0, 0, 0.8);background: #fff7da;}
select.cartype_sss#cartype.cur{border: 2px solid rgba(0, 0, 0, 0.8);background: #fff7da;}*/


/*@media (max-width: 1440px){
	.yu_wrapper .yu_con1 .v4_1 .sp_1 {width: 14px;height: 14px;top: 1px;}
	.ei5nav .etopnav li ,.ei5nav .esubtop li{font-size:14px;line-height:40px;}
	.ei5nav .esubtop.curr {top:40px;height:40px;line-height:40px;}
}*/

/*@media (max-width: 1279px) {
	.yu_wrapper .yu_con1 .v4_1 .sp_1 {width: 10px;height: 10px;top:0;}
	.ei5nav .etopnav li ,.ei5nav .esubtop li{font-size:12px;line-height:30px;}
	.ei5nav .esubtop.curr {top:30px;height:30px;line-height:30px;}
}*/


.tableTab_fixed{border:1px solid #ddd;border-right:0;border-top:0;}
/* .ei5table .mCSB_scrollTools{right:-7px;}
.ei5table .mCSB_scrollTools .mCSB_draggerRail{background-color: #333;background-color: rgba(0,0,0,0.1);}
.ei5table .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #333;background-color:#52a04e;}
.ei5table .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar ,.resultFl .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.ei5table .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #52a04e;background-color:#52a04e;} */

.tableTab_fixed td ,.tableTab_fixed th{line-height:.4rem;padding:.12rem .6rem;border-right:1px solid #ececec;font-size:.18rem; text-align: center;}
.tableTab_fixed th{ background:url(../images/ei5Pic13.jpg) repeat-y;background-size: 100%;text-align: left;color:#fff;font-weight: normal;font-size:.18rem;}

.tableTab_fixed .trbg{background:#f6f6f6;}
.tableTab_fixed .thbj{text-align:left;}
.tableTab_fixed .trbg{background:#f6f6f6;}
.tableTab_fixed .thbj{text-align:left;}

/*.yu_con1 select{font-family: Arial,'微软雅黑';}*/

/*i6plus金融*/
/*.financial_bl_2 .hide_bl{position: absolute;left: -10%;top: -0.391rem;width: 120%;height: 0.781rem;z-index: 999;display: none}
.i6p_desc{ margin-top: 0 !important;font-size: .22rem!important;line-height: .3rem;margin-bottom: -.3rem;display: none}*/

/*气球贷*/
/*.jinwrap2 .jin_qie1 .tabs_wrap ul {width: 100%;display: flex;justify-content: end;flex-wrap: nowrap;}
.jinwrap2 .jin_qie1 .tabs_wrap ul li {width: 2.33rem;}
.jinwrap2 .jin_qie1 .tabs_wrap.center {
  margin-top: .45rem;
  text-align: center;
  width: 5.4rem;
  height: .3rem;
}
.jinwrap2 .jin_qie1 .tabs_wrap ul li p {
  margin-bottom: .15rem;
  transform: skew(-18deg);
  -webkit-transform: skew(-18deg);
  border: 1px solid #8e8e8e;
  cursor: pointer;
}
.jinwrap2 .jin_qie1 .tabs_wrap ul li p>span{
  color:#8e8e8e;
  line-height: .5rem;
  height: .5rem;
  display: inline-block;
  transform: skew(18deg);
  -webkit-transform: skew(18deg);
}
.jinwrap2 .jin_qie1 .tabs_wrap ul .li_tab1 p{border-right: none;}
.jinwrap2 .jin_qie1 .tabs_wrap ul .li_tab2 p{border-left: none;}
.jinwrap2 .jin_qie1 .tabs_wrap ul li.cur p {
  background: #8e8e8e;
}
.jinwrap2 .jin_qie1 .tabs_wrap ul li.cur p>span{
  color: #fff;
}
.jinwrap2 .jin_qie1 .tabs_wrap ul li span {
	color: #a7a7a7;
}
.jin_bl_wrap{ display: flex; clear: both; justify-content: space-between; width: 100%; }
.jinwrap2 .jin_qie1 .jin_bl{width: 38%;}
.jinwrap2 .jin_qie1 .jin_qq_box .jin_bl{width: 30%;}
.jinwrap2 .jin_qie1 .tabs_wrap ul.deqq{justify-content: center;}
.jinwrap2 .jin_qie1 .tabs_wrap ul.deqq .li_tab1{width: 70%;}
.jinwrap2 .jin_qie1 .tabs_wrap ul.deqq .li_tab2{display: none;}*/