@charset "UTF-8";
html,body{
    background-color:#fff;
}
.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0,0,0,0.5);
	z-index: 80;
}
.popup .close{
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	font-size: 0;

	right: 0;
	top: 0;
	margin: 36px;
}
/*表单相关的代码*/
.form{
	font-size: 0;
}
.field.inline{
	display: inline-block;	
	margin-right: 6px;
}
.form label{
	font-size: 14px;
	margin-right: 12px;
}
.form .field{
	font-size: 12px;
}
.form .field-text,
.form .field-combo{
	height: 34px;
    border-bottom:1px solid #b3b2b2;
    
    -webkit-transition: all .4s;
            transition: all .4s;
}
.form .field-combo{
	position: relative;
}
.form .field-combo .combo-options{
    position: absolute;
    border-top: 1px solid #d0d0d0;
    width: 100%;
    top: 100%;
    height: 100px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    z-index: 1;
    box-shadow: 0 0 6px #d4d4d4;

}
.form .field-combo .combo-options ul{
    margin: 5px 0;
    padding: 0 5px;
}
.form .field-combo .combo-options a{
    height: 28px;
    color: #666;
    line-height: 34px;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    
}
.form .field-combo .combo-options li {
}
 
.form .field-combo .combo-options li.selected a,
.form .field-combo .combo-options li:hover a{
    border-bottom: 2px solid #c6001f;
    cursor: pointer;
}
.form .field-combo .combo-options ul.group li.options-title{
	padding-left: 0.5em;
}
.form .field-combo .combo-options ul.group a{
	padding-left: 1em;
}
.form .field-combo .combo-options .options-title{
	font-size: 14px;
	height: 32px;
	line-height: 32px;
}

.form .field-text input,
.form .field-combo .combo-text{
	border: 0 none;
	width: 100%;
	height: 100%;
	margin: 0;
    outline: none;
	line-height: 34px;
    color: #666;
	font-size: 14px;
	display: inline-block;
	background-color: transparent;
}
.form .field-text.readonly input,
.form .field-combo.readonly .combo-text{
	background-color: #bfbfbf;
}
.form .field-combo .combo-text{
	position: relative;
	padding-right: 22px;
	cursor: pointer;
	white-space: nowrap;
	overflow:hidden;
}
.form .field-combo:hover, .form .field-text:hover{
    border-bottom:1px solid #c6001f;
}
.form .field-combo .combo-text.selected{
	color: #000000;
}
.form .field-combo .combo-text:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    top: 11px;
    height: 12px;
    background: url(/assets/imgs/img2019/select_unselected.png) no-repeat;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .4s;
    transition: all .4s;
}
.form .field-combo .combo-text.active:after{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
 
.field.inline .btn{
    height: 32px;
    padding: 0 20px;
    line-height: 32px;
}
.form .btns{
	font-size: 0;
}
.btn{
	display: inline-block;
	background-color: #000;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}
.btn.white{
    background-color: transparent;
	border: 1px solid #000;
	color: #000000;
}
.btn.white.disabled{
	color: #ffffff;
}
.btn.disabled{
	background-color: #cccccc;
}
.link{
	color: #008bca;
	text-decoration: underline;
}
.form .field-range{
	padding: 12px 0 6px;
}
.form .field-range.readonly{
	background-color: transparent;
}
.form .field-range .slide-bar,
.form .field-range .inner-bar{
	background-color: #dfe4e9;
	height: 8px;
	width: 100%;
	border-radius: 11px;
	position: relative;
}
.form .field-range .inner-bar{
	background-color: #da1e46;
	width: 50%;
	border-radius: 11px 0 0 11px;
}
.form .field-range .inner-bar .block{
	width: 20px;
	height: 20px;
	border: 1px solid #252525;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	margin-top: -6px;
	top: 0;
	right: 0;

	text-align: center;
	cursor: pointer;

	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.form .field-range .inner-bar .block .label{
	display: block;
	position: absolute;
	bottom: 20px;
}
/*预约成功*/
.pop-success{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 80;
	display: none;
}
.pop-success .pop-content{
	width: 480px;
	display: block!important;
	height: 254px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -130px auto 0;
	text-align: center;
	padding: 24px 0;
}
.pop-success .pop-content .icon{
	display: block;
	width: 68px;
	height: 68px;
	background: url(/assets/imgs/success-check.png) top center no-repeat transparent;
	background-size: contain;
	margin: 0 auto 12px;
}
.pop-success .pop-content p{
	margin: 14px 0;
}
.pop-success .pop-content .title{
	font-size: 32px;
}
.pop-success .pop-content .btn-return{
	background-color: #ffffff;
	border: 1px solid #000000;
	color: #000000;
}


/****分页工具paging****/
.paging{
	background-color: #ffffff;
	color: #939393;
	text-align: center;
	padding: 46px 0 80px;
}
.paging .paging-btns,
.paging .paging-form{
	display: inline-block;
}
.paging .paging-btns{
	font-size: 0;
}
.paging .paging-btns ul{
	display: inline-block;
}
.paging .paging-btns li{
	display: inline-block;
}
.paging .paging-btns li.ellipsis{
	font-size: 18px;
	color: #000000;
	height: 40px;
	line-height: 18px;
	padding: 8px 10px;
}
.paging .paging-btns a{
	display: inline-block;
	color: #000000;
	border: 1px solid #bfbfbf;
	font-size: 14px;
	margin-left: -1px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.paging .paging-btns a.paging-prev,
.paging .paging-btns a.paging-next{
	width: 90px;
	position: relative;
}
.paging .paging-btns a.paging-prev{
	padding-left: 12px; 
}
.paging .paging-btns a.paging-next{
	padding-right: 12px; 
}
.paging .paging-btns a.paging-prev:before,
.paging .paging-btns a.paging-next:after{
	position: absolute;
	left: 0;
	top: 0;
	margin: 8px;
	content: "";
	display: inline-block;
	width: 14px;
	height: 23px;
	background: url("/assets/pc/imgs/paging-prev.png");
	background-size: contain;
}
.paging .paging-btns a.paging-next:after{
	background-image: url("/assets/pc/imgs/paging-next.png");
	left: auto;
	right: 0;
}
.paging .paging-btns a.selected,
.paging .paging-btns a:hover{
	background-color: #efefef;
}
.paging .paging-btns ul a{
	width: 36px;
}
.paging .paging-form{
	margin-left: 24px;
}
.paging .paging-form p{
	display: inline-block;
}
.paging .paging-form input,
.paging .paging-form a{
	display: inline-block;
	width: 46px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bfbfbf;
	text-align: center;
	color: #000000;
}
.paging .paging-form a{
	font-size: 12px;
	margin-left: 24px;
}


/*车系选择列表*/
.check-list{
	color: #000000;
	padding: 4px;
	background-color: #fff;
}
.check-list .title{
    font-size: 20px;
    padding: 10px 25px;
    display: inline-block;
    border-right: 1px solid #b5b4b4;
    color: #000;
}
.check-list .list{
	display: inline-block;
    width:80%;
}
.check-list .list li{
	display: inline-block;
	padding: 10px 0 10px 24px;
}
.check-list .list li input{
	display: none;
}
.check-list .list li label{
	display: block;
	position: relative;
	padding-left: 18px;
}
.check-list .list li label:before{
	content: "";
	display: block;
	width: 14px;
    height: 14px;
	background:  url(/assets/imgs/img2019/checkbox_unchecked.png) top center no-repeat transparent;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	margin: 3px 0;
}
.check-list .list li label.checked:before{
	background-image:url(/assets/imgs/img2019/checkbox_checked.png)
}

/*滚动条*/
.nicescroll-rails{
	border-radius: 4px;
}

/*nav-bar*/
.sub-nav-bar{
	text-align: center;
    border-bottom: 1px solid #b5b4b4;
}
.sub-nav-bar li{
	display: inline-block;
}
.sub-nav-bar li a{
	color: #000000;
	display: block;
	width: 120px;
	/*height: 42px;*/
	padding: 10px;
	font-size: 16px;
}
.sub-nav-bar li a.selected{
	background-color: #000;
	color: #ffffff;
}

.slick-dots{
	position: absolute;
	z-index: 3;
	bottom: 0;
	margin-bottom: 50px;
	font-size: 0;

	width: 100%;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
	margin: 8px;
}
.slick-dots li button{
	margin: 0;
	padding: 0;
	font-size: 0;
	width: 30px;
    height: 5px;
    border-radius: 4px;
    border:0;
	opacity: .4;
	outline: 0;
    background: #fff;
    opacity: .4;
}
.slick-dots li.slick-active button{
	width:60px;
	opacity: 1;
	height: 5px;
	background-color: #fff;
}
#apply-code,#credit-code {
    width:84px;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color:transparent !important;
}

.combo-options::-webkit-scrollbar,
.gz_options::-webkit-scrollbar {/*滚动条整体样式*/
    width: 3px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.combo-options::-webkit-scrollbar-thumb,
.gz_options::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #666;
}
.combo-options::-webkit-scrollbar-track,
.gz_options::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}