.cover{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #ffffff;
	z-index: 80;

}
.social{
	font-size: 0;
	cursor: url(/assets/imgs/cursor-close.png),
			url(/assets/imgs/cursor-close.gif),
			url(/assets/imgs/cursor-close.jpg),
			default;
	display: none;
}
.social .content{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -90px auto 0;
}
.social ul{
	/*width: 420px;
	margin: 0 auto;*/
	text-align: center;
}
.social li{
	display: inline-block;
	margin: 16px;
}
.social li .icon{
	width: 108px;
	height: 108px;
	display: block;
}
.social li a{
	color: #000000;
	font-size: 12px;
	display: block;
	text-align: center;
	cursor: pointer;
}
    .social .content {
        display:block!important;
    } /*add by Shoutong*/