@using Portal.Extensions
@{
//ViewData["Title"] = "顺风出租";
}

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var b = $('#contact_panel button'), ing = '发送中...', ed = '发送信息给我们';
            b.on('click',
                function () {
                    if (b.innerText == ing) return;
                    var r = $('#contact_resp'),
                        p = $('#contact_panel'),
                        n = p.find('[name=name]').val(),
                        c = p.find('[name=contact]').val().trim(),
                        q = p.find('[name=request]').val().trim();
                    if (!c) {
                        alert('请输入您的联系方式');
                        return;
                    }
                    if (!q) {
                        alert('请输入您的需求内容');
                        return;
                    }

                    b.innerText = ing;
                    $.ajax({
                        url: '/api/request',
                        type: 'POST',
                        data: { name: n, contact: c, request: q },
                        success: function () {
                            r.attr('class', 'm-t-10 text-success').text('您的需求我们已收到，客服人员会及时联系您。');
                            p.find('input[name],textarea[name]').val('');
                            b.innerText = ed;
                        },
                        error: function (resp) {
                            r.attr('class', 'm-t-10 text-danger').text(resp.responseText);
                            b.innerText = ed;
                        }
                    });
                });
        })
    </script>
}
<div id="platform" class="content has-bg home">
    <div class="content-bg">
        <img src="~/img/home-bg.jpg" alt="Home" />
    </div>
    <div class="container home-content">
        <h1>顺风出租 电动出租车新时代</h1>
        <h3>新的动力模式、新的运营方式、新的城市面貌，未来一切焕新</h3>
        <p>
            出租车更换为电动车，出租车专属互联网网约平台<br />
            以新能源电动车为核心，为出租车司机创造更多收益，为乘客带来更舒适的出行体验
        </p>
        <a href="/home/sft?id=60d6ef91-1657-4935-7a5d-08d6fdc3018d&itemId=83748468-81a4-413a-5512-08d768a42598" class="btn btn-theme">了解案例</a>
        <a href="#contact" class="btn btn-outline">联系我们</a><br />
        <br />
    </div>
</div>

<div class="container features content" id="rongweiEi5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>上汽荣威Ei5</h1>
            <p class="f-s-14">综合续航420KM，电动车中的金霸王 <a href="#" class="m-l-10" style="text-decoration: underline;"></a></p>
        </div>
    </div>

    <div class="row m-t-30">
        <div class="col-md-3 wow fadeInLeft animated m-t-30" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="m-b-20">
                <h2><i class="icon iconfont icon-charger features-icon" style="font-weight:bold"></i> 轻能源</h2>
                <span class="f-s-18">高能量密度三元锂电池</span>
                <p class="text-left f-s-14 m-t-10">
                    同级最高能量密度大于140Wh/kg<br />
                    实现匀速续航里程540公里<br />
                    电流测量精度达千分之五<br />
                    超精准估计剰余里程
                </p>
            </div>

            <div class="m-t-30">
                <h2><i class="icon iconfont icon--FingerTouch features-icon"></i> 轻触动</h2>
                <span class="f-s-18">沉浸式人工智能语音</span>
                <p class="text-left f-s-14 m-t-10">
                    根据不同座位发出的语音指令<br />
                    分别提供精准反馈<br />
                    依据情景提供最贴心反应<br />
                    只要一声“下雨了”<br />
                    天窗、调节内外循环等操作即刻完成动作
                </p>
            </div>
        </div>
        <div class="col-md-6  wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
            <img src="../img/rongwei.jpg" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-right wow fadeInRight animated m-t-30" style="visibility: visible; animation-name: fadeInRight;">
            <div class="m-b-20">
                <h2><i class="icon iconfont icon-quality features-icon"></i> 轻体验</h2>
                <span class="f-s-18">2665mm轴距剧院级宽适座舱</span>
                <p class="text-right f-s-14 m-t-10">
                    采用一体化铸造工艺等多项降噪技术<br />
                    及24道隔音工序，材料吸声系数达0.8以上<br />
                    打造极致宁静驾乘体验<br />
                    超高车内语音清晰度，让沟通更优雅舒心<br />

                </p>
            </div>

            <div class="m-t-30">
                <h2><i class="icon iconfont icon-quality1 features-icon"></i> 轻顾虑</h2>
                <span class="f-s-18">全方位电池安全防护</span>
                <p class="text-right f-s-14 m-t-10">
                    严格按照UL2580动力电池标准设计<br />
                    经过火烧、浸泡、碰撞、挤压等<br />
                    八大超严苛关键安全测试<br />
                    并通过整车碰撞安全试验<br />
                    电池安全品质保证，150mm超高离地间隙<br />
                    保障整车通过性，确保电池安全无忧<br />
                </p>
            </div>
        </div>
        <div class="text-right">
            <a href="/home/RongweiEi5" class="btn btn-sm btn-theme m-t-20">查看更多</a>
        </div>
    </div>
</div>

<!--申请成为顺风司机-->
<div id="action-box" class="content has-bg" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="../img/action-bg.jpg" alt="申请成为顺风司机">
    </div>
    <div class="container fadeInRight contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInRight">
        <div class="row action-box">
            <div class="col-md-9 col-sm-9">
                <div class="icon-large text-theme m-t-5 m-r-30 p-r-20">
                    <i class="icon iconfont icon-car-rental-driver" style="font-size:80px"></i>
                </div>
                <h3>申请成为顺风司机</h3>
                <p>
                    淮南新能源电动出租车业务正式上线，其它城市敬请期待……
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <a href="/home/sft?id=60d6ef91-1657-4935-7a5d-08d6fdc3018d&itemId=apply-to-sft-driver" class="btn btn-outline btn-block">立即申请</a>
            </div>
        </div>
    </div>
</div>

<div class="features content" id="qiruiArrizoex5e">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>奇瑞艾瑞泽5e 450</h1>
                <p class="f-s-14">高品质长续航宽体实力出租车座驾</p>
            </div>
        </div>
        <div class="row m-t-30">
            <div class="col-md-3 text-center wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="m-b-20">
                    <h2>倾心颜值</h2>
                    <p class="text-left f-s-14">
                        HDS灵性动感水流车身<br />
                        全新亮面时尚轮毂<br />
                        酷黑高亮钢琴烤漆格栅<br />
                        豪华双色内饰座舱<br />
                        炫酷液晶仪表<br />
                        高级真皮座椅
                    </p>
                </div>
                <div class="m-t-30">
                    <h2>智享舒适</h2>
                    <p class="text-left f-s-14">
                        0-50km/h的加速时间4.8s<br />
                        高能量密度三元锂电池<br />
                        NEDC综合续航401km<br />
                        60公里等速巡航500km<br />
                        快充0.5h 30%-80%<br />
                        SPORT超强运动模式<br />
                        4档能量回收系统<br />
                        蓄电池智能补电
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
                <img src="../img/qirui.jpg" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="m-b-20">
                    <h2>激情驾驭</h2>
                    <p class="text-right f-s-14">
                        车辆远程控制—远程开启门锁、车辆定位<br />
                        远程诊断、远程开启空调<br />
                        最宽车体家轿<br />
                        一键启动<br />
                        电动空调——自通风、自清洁<br />
                        豪华级旋钮换挡
                    </p>
                </div>
                <div class="m-t-30">
                    <h2>品质安全</h2>
                    <p class="text-right f-s-14">
                        优秀的三电安全管理系统<br />
                        8大电路安全<br />
                        电池严苛实验<br />
                        电池智能恒温系统<br />
                        3R-Body车身结构设计车<br />
                        第九代博世ESP车身稳定系统
                    </p>
                </div>
                <div class="text-right">
                    <a href="/home/Qirui5E" class="btn btn-sm btn-theme m-t-20">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" content bg-silver-lighter" id="xundao">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>循道充电桩</h1>
                <p class="f-s-14">7Kw交流慢充桩，在家充电更省钱</p>
            </div>
        </div>
        <div class="row features-block m-t-30">
            <div class="col-lg-5 features-text wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <h3>3种指示灯，充电桩状态一目了然</h3>
                <p class="f-s-14">
                    3种指示灯颜色提示，充电桩状态一目了然<br />
                    绿色、蓝色、红色三色LED指示灯<br />
                    分别表示车未连接、车已连接、充电故障<br />
                    通过灯是否常亮、闪烁以及闪烁的次数来判断桩的状态
                </p>
                <h3 class="m-t-30">8种安全防护，使用更放心</h3>
                <p>
                    防雷击、防雨水、防沙尘、防暴晒<br />
                    防过压过流、防短路、防盗用、防漏电<br />
                    您所担心的安全问题都有保障！
                </p>

                <div>
                    <a href="/home/Xundao" class="btn btn-sm btn-theme m-t-20">查看详情</a>
                </div>
            </div>

            <div class="col-lg-7 text-right wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <img src="../img/xundao.jpeg" class="img-responsive pull-right">
            </div>
        </div>
    </div>
</div>

<div id="about" class="content bg-black-darker has-bg" data-scrollview="true">
    <div class="content-bg">
        <img src="../img/about-bg.jpg" alt="About">
    </div>
    <div class="container fadeInLeft contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInLeft">
        <div class="row">
            <div class="col-md-12 quote line-h-180">
                <i class="fa fa-quote-left"></i> 领承科技专注于用<span class="text-theme">互联网技术</span>改造传统行业，<br>助力于企业<span class="text-theme">数字化转型</span>。
                <i class="fa fa-quote-right"></i>
            </div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">发展历程</h2>
        <p class="content-desc">
        </p>
        <div class="row lc-timeline">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-unlock"></i></div>
                        <div class="iconpin"></div>

                        <div class="textwrap">
                            <p class="t_title">复旦大学第3批企业</p>
                            <div class="t_content">
                                2007年成立上海横创软件服务有限公司，以知识管理系统起步，涉及对日、对欧美以及国内软件外包业务。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap bg-black"><i class="icon iconfont icon-oko"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                电力业务开展
                            </p>
                            <div class="t_content">
                                2103年开始为中电国际下属电厂提供系统集成的解决方案。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><span class="icon iconfont icon-MedalofHonor"></span></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">产品化发展</p>
                            <div class="t_content">
                                2016年成立子公司上海安桩新能源，为新能源主机厂提供建桩管理系统。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row lc-timeline downpart">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="margin-left:-33px;">
                <div class="row">
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-talk-message"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                承担国家创新基金
                            </p>
                            <div class="t_content">
                                2010年成立上海领承智能科技有限公司，承担危险物质扩散模拟的国家创新基金项目。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-Stop-Watch"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">新能源业务开展</p>
                            <div class="t_content">
                                2014年开始成为新能源主机厂和充电站运营企业的软件解决方案供应商。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap bg-black"><i class="icon iconfont icon-trophy"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                智慧出行云平台
                            </p>
                            <div class="t_content">
                                2018年，以新能源出租车为切入点，为城市居民、企事业单位、政府部门提供有新能源汽车行业特色的云服务平台。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content bg-silver-lighter" data-scrollview="true" id="primaryCase">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">重点案例</h2>
        <p class="content-desc">
        </p>
        <div class="row m-b-20">
            <div id="gallery" class="gallery isotope row" style="height:340px">
                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/4.jpg" data-lightbox="gallery-group-2">*@
                        <img src="../img/gallery/4.jpg" alt="智慧出行云平台">
                        @*</a>*@
                        <p class="image-caption">智慧出行云平台</p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            为政府部门、出租车公司提供安全可靠的实时车辆监控，为出租车司机和乘客提供网约车的功能。
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/3.jpg" data-lightbox="gallery-group-1">*@
                        <img src="../img/gallery/3.jpg" alt="车桩联网运营平台">
                        @*</a>*@
                        <p class="image-caption">
                            车桩联网运营平台
                        </p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            2014年，公司与上海EVCARD运营中心合作，为其提供车桩联网软件解决方案，实现“车、桩、站、电池”四网联合。
                        </div>
                    </div>
                </div>

                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/2.jpg" data-lightbox="gallery-group-1">*@
                        <img src="../img/gallery/2.jpg" alt="能源监控和优化方案">
                        @*</a>*@
                        <p class="image-caption">能源监控和优化方案</p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            为国电投旗下的电厂提供能源监控及优化解决方案，包括月度电力数据采集、用电需量分析和预测、用电节约空间核算、峰谷用电效能分析。
                        </div>
                    </div>
                </div>

                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/1.jpg" data-lightbox="gallery-group-1">*@
                        <img src="../img/gallery/1.jpg" alt="车厂订单处理系统">
                        @*</a>*@
                        <p class="image-caption">
                            车厂订单处理系统
                        </p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            2015年为北汽新能源提供新能源车订单处理软件服务，并在此基础上与江淮、吉利、上汽通用等全国各大车厂展开合作。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">重点客户</h2>
        <p class="content-desc">
        </p>
        <div class="row m-b-20">
            <div class="col-md-2"><img src="../img/logo-custom/1.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/2.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/3.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/4.jpg" width="80" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-1.png" width="150" style="margin-left:-20px;" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-2.png" style="background:black" width="150" /></div>
        </div>
        <div class="row m-t-30 m-b-20">
            <div class="col-md-2"><img src="../img/logo-custom/5-3.png" width="130" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-4.png" width="130" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5.png" width="120" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/6.png" width="80" /></div>
            <div class="col-md-4"><img src="../img/logo-custom/7.png" width="280" class="m-t-10" /></div>

        </div>
        <div class="row m-t-30">
            <div class="col-md-2"><img src="../img/logo-custom/12.jpg" width="120" class="m-t-15" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/13.png" width="140" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/14.png" width="160" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/15.png" width="120" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/16.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/17.jpg" width="130" class="m-t-30" /></div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">合作伙伴</h2>
        <p class="content-desc">
        </p>
        <div class="row m-b-20">
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/1.jpg" width="150" class="m-t-15" /></div>
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/2.jpg" width="100" /></div>
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/3.jpg" width="150" class="m-t-15" /></div>
        </div>
    </div>
</div>

<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <div class="container thin">
        <h2 class="content-title">联系我们</h2>
        <p class="content-desc">
            邮箱和座机服务时间：工作日 上午8:30 - 下午5:30 <br />
            手机号服务时间： 7x24小时
        </p>
        <div class="row">
            <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                <h3>如果您有如下需求，请随时联系我们</h3>
                <p>
                    <ol class="indent0 line-h-150 f-s-16">
                        <li>企业级软件系统定制化开发</li>
                        <li>多系统集成</li>
                        <li>移动端App开发</li>
                        <li>微信/支付宝小程序、公众号</li>
                    </ol>
                </p>
                <p class="f-s-16 m-t-20 line-h-150">
                    <strong>上海领承智能科技有限公司</strong><br />
                    弘基商业广场文益街99弄16号<br />
                    上海，浦东新区<br />
                    座机号: (021) 5816-0611<br />
                </p>
                <p class="f-s-16 m-t-20 line-h-150">
                    <strong>商务总监 陈先生(Shawn Chen)</strong><br />
                    <span class="phone">手机号：(+86) 135 2415 5084</span><br />
                    邮箱：<a href="mailto:cym@aibol.com">cym@aibol.com</a>
                </p>
            </div>
            <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                <form class="form-horizontal" id="contact_panel">
                    <div class="form-group">
                        <label class="control-label col-md-3">怎么称呼您？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">您的联系方式？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="contact" placeholder="手机号或邮箱" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">您的需求？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="10" name="request"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9 text-left">
                            <button type="button" class="btn btn-theme btn-block">发送信息给我们</button>
                            <p id="contact_resp" class="m-t-10"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
