@using Portal.Extensions
@{
    ViewData["Title"] = "Aibol2 企业管理软件，前后端系统开发专家";
}

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var b = $('#contact_panel button'), ing = '发送中...', ed = '发送信息给我们';
            b.on('click',
                function () {
                    if (b.innerText == ing) return;
                    var r = $('#contact_resp'),
                        p = $('#contact_panel'),
                        n = p.find('[name=name]').val(),
                        c = p.find('[name=contact]').val().trim(),
                        q = p.find('[name=request]').val().trim();
                    if (!c) {
                        alert('请输入您的联系方式');
                        return;
                    }
                    if (!q) {
                        alert('请输入您的需求内容');
                        return;
                    }

                    b.innerText = ing;
                    $.ajax({
                        url: '/api/request',
                        type: 'POST',
                        data: { name: n, contact: c, request: q },
                        success: function () {
                            r.attr('class', 'm-t-10 text-success').text('您的需求我们已收到，客服人员会及时联系您。');
                            p.find('input[name],textarea[name]').val('');
                            b.innerText = ed;
                        },
                        error: function (resp) {
                            r.attr('class', 'm-t-10 text-danger').text(resp.responseText);
                            b.innerText = ed;
                        }
                    });
                });
        })
    </script>
}
<div id="platform" class="content has-bg home">
    <div class="content-bg">
        <img src="~/img/home-bg.jpg" alt="Home" />
    </div>
    <div class="container home-content">
        <h1>软件系统 快速开发平台</h1>
        <h3>企业级软件系统开发和集成、移动端App、公众号和小程序</h3>
        <p>
            @{
                var years = DateTime.Now.Year - 2010;
                var desc = $"{years.ToChinese()}年企业软件开发经历，数百套软件产品成功上线运行";
            }
            @desc<br />
            可以深入了解Aibol2的 <a href="#">少代码开发平台</a>，也可以查看 <a href="#product">已发布产品</a>
        </p>
        <a asp-controller="case" asp-action="develop" class="btn btn-theme">了解案例</a>
        <a href="#contact" class="btn btn-outline">免费咨询</a><br />
        <br />
        或者 <a href="https://pass.aibol.com/account/register?clientid=aibol2_portal"> 注册 </a> 您的AI+账号
    </div>
</div>

<div class="container features content" id="shunfengchuzu">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>顺风出租</h1>
            <p class="f-s-14">出租车领域的互联网解决方案，带给乘客出行新体验 <a href="#" class="m-l-10" style="text-decoration: underline;">申请成为顺风司机</a></p>
        </div>
    </div>

    <div class="row features-block m-t-30">
        <div class="col-lg-4 features-text wow fadeInLeft animated m-t-30" style="visibility: visible; animation-name: fadeInLeft;">
            <small class="f-s-14 text-theme">租·售</small>
            <h2 class="m-t-10">新能源电动出租车</h2>
            <p class="f-s-14">0.05元/公里，超低运营成本</p>
            <p class="f-s-14">400公里NEDC（综合续航里程），续航无忧</p>
            <p class="f-s-14">8年30%电池损耗质保，电池有保障</p>
            <p class="f-s-14">0购买成本，8年日均71.3元租金，租赁更划算</p>
            <a href="/home/solution?id=69197841-31c5-4d23-4463-08d6fac14fef&itemId=a1ae47e9-1d06-45d0-f790-08d6fac1761a" class="btn btn-sm btn-theme m-t-20">查看更多</a>
        </div>
        <div class="col-lg-5 text-right m-t-n-lg wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
            <img src="../img/case/3.jpg" class="img-responsive" alt="顺风出租">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight animated m-t-30" style="visibility: visible; animation-name: fadeInRight;">
            <small class="f-s-14 text-theme">租·售</small>
            <h2 class="m-t-10">车载按摩垫</h2>
            <p class="f-s-14">出租车新服务，乘客出行新选择</p>
            <p class="f-s-14">仿人手式气囊按摩，欧洲进口品质</p>
            <p class="f-s-14">2分钟免费按摩，乘客引流新入口</p>
            <p class="f-s-14">1元/5分钟，司机增收新方式</p>
            <a href="/home/solution?id=69197841-31c5-4d23-4463-08d6fac14fef&itemId=93a33774-3a69-4e50-f792-08d6fac1761a" class="btn btn-sm btn-theme m-t-20">查看更多</a>
        </div>
    </div>
</div>

<div class="features content bg-silver-lighter" id="chongdianzhuangyunying">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>充电桩运营系统</h1>
                <p class="f-s-14">系统化、智能化充电桩运营解决方案</p>
            </div>
        </div>
        <div class="row m-t-30">
            <div class="col-md-3 text-center wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="m-b-20">
                    <i class="icon iconfont icon-charger features-icon" style="font-weight:bold"></i>
                    <h2>充电桩资源管理</h2>
                    <p class="text-left f-s-14">充电桩库存、台账、运营费率及结算、统一地图全方位、系统化管理</p>
                </div>

                <div class="m-t-30">
                    <i class="icon iconfont icon-jiesuantongjibiao features-icon"></i>
                    <h2>系统化结算</h2>
                    <p class="text-left f-s-14">
                        资金/卡券系统管理，运营活动随时可控<br />
                        充电订单系统管理<br />
                        系统化多方结算，省时、省力<br />
                        用户满意度调查，提高运营服务水平
                    </p>
                </div>

            </div>
            <div class="col-md-6 text-center  wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
                <img src="../img/case/1.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="m-b-20">
                    <i class="fa fa-bar-chart features-icon"></i>
                    <h2>智能运维监控</h2>
                    <p class="text-right f-s-14">自动巡检、实时监控报警、远程故障诊断、维修及质量管理，运维监控无忧</p>
                </div>

                <div class="m-t-30">
                    <i class="icon iconfont icon-jiankong features-icon"></i>
                    <h2>运营统计分析</h2>
                    <p class="text-right f-s-14">
                        场站数据分析、电桩数据分析<br />
                        运维故障分析、用户使用分析<br />
                        充电订单分析、新增活跃分析<br />
                        充电桩使用率分析……<br />
                        运营数据及时观测，运营策略及时调整
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content" id="jianzhuangguanli">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>建桩管理系统</h1>
            <p class="f-s-14">基于系统化助力整车厂、充电服务商实现充电桩安装管理</p>
        </div>
    </div>
    <div class="row features-block m-t-30">
        <div class="col-lg-6 features-text wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <h2>建桩全生命周期管理</h2>
            <p class="f-s-14">
                1）建桩意向记录及跟踪管理<br />
                2）基于工作流引擎技术，业务流程可灵活配置<br />
                3）配套APP，现场搞定勘察、安装<br />
                4）结算管理，支持多维度计价策略维护、安装结算、充电结算、VIN控制<br />
                5）数据统计报表，全方位、多角度数据分析建桩情况<br />
            </p>
            <p style="padding-left: 2em">订单日/月/年报表<br />
            合作服务商质量统计报告<br />
            结算统计<br />
            充电桩分布热力图<br />
            建桩趋势表……</p>
        </div>
        
        <div class="col-lg-6 text-right wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
            <img src="../img/case/2.png" class="img-responsive pull-right">
        </div>
    </div>
</div>

<div id="about" class="content bg-black-darker has-bg" data-scrollview="true">
    <div class="content-bg">
        <img src="../img/about-bg.jpg" alt="About">
    </div>
    <div class="container fadeInLeft contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInLeft">
        <div class="row">
            <div class="col-md-12 quote line-h-180">
                <i class="fa fa-quote-left"></i> 领承科技专注于用<span class="text-theme">互联网技术</span>改造传统行业，<br>助力于企业<span class="text-theme">数字化转型</span>。
                <i class="fa fa-quote-right"></i>
            </div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">发展历程</h2>
        <p class="content-desc">
            @*上海市高新技术企业，双软认证企业，诚信经营企业*@
        </p>
        <div class="row lc-timeline">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-unlock"></i></div>
                        <div class="iconpin"></div>

                        <div class="textwrap">
                            <p class="t_title">复旦大学第3批企业</p>
                            <div class="t_content">
                                2007年成立上海横创软件服务有限公司，以知识管理系统起步，涉及对日、对欧美以及国内软件外包业务。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap bg-black"><i class="icon iconfont icon-oko"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                电力业务开展
                            </p>
                            <div class="t_content">
                                2103年开始为中电国际下属电厂提供系统集成的解决方案。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><span class="icon iconfont icon-MedalofHonor"></span></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">产品化发展</p>
                            <div class="t_content">
                                2016年成立子公司上海安桩新能源，为新能源主机厂提供建桩管理系统。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row lc-timeline downpart">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="margin-left:-33px;">
                <div class="row">
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-talk-message"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                承担国家创新基金
                            </p>
                            <div class="t_content">
                                2010年成立上海领承智能科技有限公司，承担危险物质扩散模拟的国家创新基金项目。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap"><i class="icon iconfont icon-Stop-Watch"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">新能源业务开展</p>
                            <div class="t_content">
                                2014年开始成为新能源主机厂和充电站运营企业的软件解决方案供应商。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 lc-timeline-col">
                        <div class="iconwrap bg-black"><i class="icon iconfont icon-trophy"></i></div>
                        <div class="iconpin"></div>
                        <div class="textwrap">
                            <p class="t_title">
                                智慧出行云平台
                            </p>
                            <div class="t_content">
                                2018年，以新能源出租车为切入点，为城市居民、企事业单位、政府部门提供有新能源汽车行业特色的云服务平台。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content bg-silver-lighter" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">重点案例</h2>
        <p class="content-desc">
            @*上海市高新技术企业，双软认证企业，诚信经营企业*@
        </p>
        <div class="row m-b-20">
            <div id="gallery" class="gallery isotope row" style="height:340px">
                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/4.jpg" data-lightbox="gallery-group-2">*@
                            <img src="../img/gallery/4.jpg" alt="智慧出行云平台">
                        @*</a>*@
                        <p class="image-caption">智慧出行云平台</p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            为政府部门、出租车公司提供安全可靠的实时车辆监控，为出租车司机和乘客提供网约车的功能。
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/3.jpg" data-lightbox="gallery-group-1">*@
                            <img src="../img/gallery/3.jpg" alt="车桩联网运营平台">
                        @*</a>*@
                        <p class="image-caption">
                            车桩联网运营平台
                        </p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            2014年，公司与上海EVCARD运营中心合作，为其提供车桩联网软件解决方案，实现“车、桩、站、电池”四网联合。
                        </div>
                    </div>
                </div>

                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/2.jpg" data-lightbox="gallery-group-1">*@
                            <img src="../img/gallery/2.jpg" alt="能源监控和优化方案">
                        @*</a>*@
                        <p class="image-caption">能源监控和优化方案</p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            为国电投旗下的电厂提供能源监控及优化解决方案，包括月度电力数据采集、用电需量分析和预测、用电节约空间核算、峰谷用电效能分析。
                        </div>
                    </div>
                </div>

                <div class="image gallery-group-1 isotope-item col-md-3">
                    <div class="image-inner">
                        @*<a href="../img/gallery/1.jpg" data-lightbox="gallery-group-1">*@
                            <img src="../img/gallery/1.jpg" alt="车厂订单处理系统">
                        @*</a>*@
                        <p class="image-caption">
                            车厂订单处理系统
                        </p>
                    </div>
                    <div class="image-info">
                        <div class="desc">
                            2015年为北汽新能源提供新能源车订单处理软件服务，并在此基础上与江淮、吉利、上汽通用等全国各大车厂展开合作。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">重点客户</h2>
        <p class="content-desc">
            @*上海市高新技术企业，双软认证企业，诚信经营企业*@
        </p>
        <div class="row m-b-20">
            <div class="col-md-2"><img src="../img/logo-custom/1.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/2.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/3.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/4.jpg" width="80" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-1.png" width="150" style="margin-left:-20px;"/></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-2.png" style="background:black" width="150" /></div>
        </div>
        <div class="row m-t-30 m-b-20">
            <div class="col-md-2"><img src="../img/logo-custom/5-3.png" width="130" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5-4.png" width="130" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/5.png" width="120" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/6.png" width="80" /></div>
            <div class="col-md-4"><img src="../img/logo-custom/7.png" width="280" class="m-t-10" /></div>

        </div>
        <div class="row m-t-30">
            <div class="col-md-2"><img src="../img/logo-custom/12.jpg" width="120" class="m-t-15" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/13.png" width="140" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/14.png" width="160" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/15.png" width="120" class="m-t-30" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/16.png" width="100" /></div>
            <div class="col-md-2"><img src="../img/logo-custom/17.jpg" width="130" class="m-t-30" /></div>
        </div>
    </div>
</div>

<div class="content" data-scrollview="true">
    <div class="container thin" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">合作伙伴</h2>
        <p class="content-desc">
            @*上海市高新技术企业，双软认证企业，诚信经营企业*@
        </p>
        <div class="row m-b-20">
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/1.jpg" width="150" class="m-t-15" /></div>
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/2.jpg" width="100" /></div>
            <div class="col-md-4 text-center"><img src="../img/logo-parterner/3.jpg" width="150" class="m-t-15" /></div>
        </div>
    </div>
</div>

<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <div class="container thin">
        <h2 class="content-title">联系我们</h2>
        <p class="content-desc">
            邮箱和座机服务时间：工作日 上午8:30 - 下午5:30 <br />
            手机号服务时间： 7x24小时
        </p>
        <div class="row">
            <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                <h3>如果您有如下需求，请随时联系我们</h3>
                <p>
                    <ol class="indent0 line-h-150 f-s-16">
                        <li>企业级软件系统定制化开发</li>
                        <li>多系统集成</li>
                        <li>移动端App开发</li>
                        <li>微信/支付宝小程序、公众号</li>
                    </ol>
                </p>
                <p class="f-s-16 m-t-20 line-h-150">
                    <strong>上海领承智能科技有限公司</strong><br />
                    弘基商业广场文益街99弄16号<br />
                    上海，浦东新区<br />
                    座机号: (021) 5816-0611<br />
                </p>
                <p class="f-s-16 m-t-20 line-h-150">
                    <strong>商务总监 陈先生(Shawn Chen)</strong><br />
                    <span class="phone">手机号：(+86) 135 2415 5084</span><br />
                    邮箱：<a href="mailto:cym@aibol.com">cym@aibol.com</a>
                </p>
            </div>
            <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                <form class="form-horizontal" id="contact_panel">
                    <div class="form-group">
                        <label class="control-label col-md-3">怎么称呼您？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">您的联系方式？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="contact" placeholder="手机号或邮箱" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">您的需求？ <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="10" name="request"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9 text-left">
                            <button type="button" class="btn btn-theme btn-block">发送信息给我们</button>
                            <p id="contact_resp" class="m-t-10"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
