@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
@section Style{
    <link rel="stylesheet" type="text/css" href="../rongweiEi5/css/common.css">
    <link rel="stylesheet" type="text/css" href="../rongweiEi5/css/css.css">
    <link rel="stylesheet" type="text/css" href="../rongweiEi5/css/slick.css">
    <style>
        .price-text {
            text-align: right;
            font-size: 0.17rem;
        }
    </style>
}

<div class="ei5Wrap">
    <div class="ei5kv kvpg">
        <img src="../rongweiEi5/images/ei5Pic00.jpg" class="imgI10">
    </div>
</div>

<div class="ei5item clearfix">
    <a id="carsow1"></a>
    <ul class="ei5hig clearfix">
        <li><p><img src="../rongweiEi5/images/ei5Pic01.jpg"></p><b>150</b><p class="info">最高车速(KM/H)</p></li>
        <li><p><img src="../rongweiEi5/images/ei5Pic02.jpg"></p><b>4.8</b><p class="info">0-50公里加速(S)</p></li>
        <li><p><img src="../rongweiEi5/images/ei5Pic03.jpg"></p><b>400</b><p class="info">综合续航里程(NEDC)</p></li>
        <li><p><img src="../rongweiEi5/images/ei5Pic04.jpg"></p><b>85</b><p class="info">电机峰值功率(KW)</p></li>
    </ul>
    <div class="ei5w1">
        <div class="ei5txt ei5Tit1">
            <div class="ei5tit clearfix">
                <h2>轻能源</h2>
                <h3>绿芯动能纯净呼吸</h3>
            </div>
            <h4>高能量密度三元锂电池</h4>
            <p>同级最高能量密度大于140Wh/ kg，实现匀速续航里程540公里；电流测量精度达千分之五，超精准估计剰余里程。</p>
            <a href="javascript:;" class="ei5btn" data-sum="1"><span>查看更多</span></a>
        </div>
        <div class="picbox">
            <img src="../rongweiEi5/images/ei5Pic060.png" class="imgI10">
        </div>
    </div>
</div>

<div class="ei5item clearfix">
    <a id="carsow2"></a>
    <div class="ei5w1 ei5w2">
        <div class="picbox">
            <img src="../rongweiEi5/images/ei5Pic07.png" class="imgI10">
            <span class="carei5">
                <img src="../rongweiEi5/images/ei5Pic07_1.png" class="imgI10" data-paroller-factor="0.2" data-paroller-type="foreground">
            </span>
        </div>
        <div class="ei5txt ei5txtfr">
            <div class="ei5tit ei5tit2 clearfix">
                <h2>轻触动</h2>
                <h3>智能互联善解人意</h3>
            </div>
            <h4>沉浸式人工智能语音</h4>
            <p>根据不同座位发出的语音指令分别提供精准反馈，依据情景提供最贴心反应，只要一声“下雨了”，相应天窗、调节内外循环等操作即刻完成动作。</p>
            <a href="javascript:;" class="ei5btn" data-sum="2"><span>查看更多</span></a>
        </div>
    </div>
</div>

<div class="ei5item clearfix">
    <a id="carsow3"></a>
    <div class="ei5tit ei5tit3 clearfix">
        <h2>轻设计</h2>
        <h3>洗练线条灵动韵律</h3>
    </div>
    <div class="ei5w3">
        <ul>
            <li><img src="../rongweiEi5/images/d3_01.jpg" class="imgI10"><p>半悬浮流畅车顶设计</p></li>
            <li><img src="../rongweiEi5/images/d3_02.jpg" class="imgI10"><p>新能源家族律动式专属格栅</p></li>
            <li><img src="../rongweiEi5/images/d3_03.jpg" class="imgI10"><p><span style="font-size: .21rem">箭翎C位大灯</span></p></li>
            <li><img src="../rongweiEi5/images/d3_04.jpg" class="imgI10"><p>16寸五辐式精车双色铝合金轮毂</p></li>
            <li><img src="../rongweiEi5/images/d3_05.jpg" class="imgI10"><p>交响小号LED尾灯</p></li>
            <li><img src="../rongweiEi5/images/d3_06.jpg" class="imgI10"><p><span style="font-size: .21rem">简约</span>雅致风<span style="font-size: .21rem">格</span>尾标</p></li>
        </ul>
    </div>
</div>

<div class="ei5item clearfix">
    <a id="carsow4"></a>
    <div class="ei5w1">
        <div class="ei5txt ei5txtfl">
            <div class="ei5tit clearfix">
                <h2>轻体验</h2>
                <h3>匠心工艺贴心细节</h3>
            </div>
            <h4>2665mm轴距剧院级宽适静谧座舱</h4>
            <p>采用一体化铸造工艺等多项降噪技术及24道隔音工序,材料吸声系数达0.8以上，打造极致宁静驾乘体验：超高车内语音清晰度,让沟通更优雅舒心。</p>
            <a href="javascript:;" class="ei5btn" data-sum="4"><span>查看更多</span></a>
        </div>
        <div class="picbox picboxfr"><img src="../rongweiEi5/images/ei5Pic09.jpg" class="imgI10"></div>
    </div>
</div>

<div class="ei5item clearfix">
    <a id="carsow5"></a>
    <div class="ei5w1 clearfix">
        <div class="picbox picboxfl"><img src="../rongweiEi5/images/ei5Pic10.jpg" class="imgI10"></div>
        <div class="ei5txt ei5txtfr">
            <div class="ei5tit clearfix">
                <h2>轻顾虑</h2>
                <h3>品质承诺全面护航</h3>
            </div>
            <h4>全方位电池安全防护</h4>
            <p>严格按照UL2580动力电池标准设计，经过火烧、浸泡、碰撞、挤压等八大超严苛关键安全测试，并通过整车碰撞安全试验，电池安全品质保证。150mm超高离地间隙，保障整车通过性,确保电池安全无忧。</p>
            <a href="javascript:;" class="ei5btn" data-sum="5"><span>查看更多</span></a>
        </div>
    </div>
</div>

<div class="ei5item">
    <a id="carsow6"></a>
    <div class="tableTab">
        <p class="price-text">(●表示有此装备; - 表示无此装备)</p>
        <ul class="m-t-15">
            <li style="width: 16.6%;">基本参数</li>
            <li style="width: 16.6%;">动力性能</li>
            <li style="width: 16.6%;">律动设计</li>
            <li style="width: 16.6%;">自在舒适</li>
            <li style="width: 16.6%;">无忧安全</li>
            <li style="width: 17%;">智能互联</li>
        </ul>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTab_fixed">
            <tbody>
                <tr>
                    <th colspan="3">价格配置</th>
                </tr>
                <tr class="trbg">
                    <td class="thbj">车型</td>
                    <td width="34%">基础版</td>
                    <td width="34%">智联版</td>
                </tr>
                <tr>
                    <td class="thbj">扣除补贴后售价</td>
                    <td>14.58万元</td>
                    <td>15.08万元</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ei5table">
        <div class="ei5tableSoll ">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="x_v1">
                        <th colspan="3">基本参数</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">车身尺寸(mm)</td>
                        <td colspan="2" width="68%">4544*1818*1536</td>
                    </tr>
                    <tr>
                        <td class="thbj">轴距(mm)</td>
                        <td colspan="2">2665</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">整备质量(kg)</td>
                        <td colspan="2">1555</td>
                    </tr>
                    <tr>
                        <td class="thbj">行李箱容积(L)</td>
                        <td colspan="2">479-1367L</td>
                    </tr>
                    <tr class="x_v2">
                        <th colspan="3">动力性能</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">电机</td>
                        <td align="center" colspan="2">永磁同步电机</td>
                    </tr>
                    <tr>
                        <td class="thbj">动力电池类型</td>
                        <td align="center" colspan="2">三元锂电池</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">动力电池容量（kWh）</td>
                        <td align="center" colspan="2">50.8</td>
                    </tr>
                    <tr>
                        <td class="thbj">NEDC综合工况续驶里程（km)</td>
                        <td align="center" colspan="2">400</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">60Km/h匀速续驶里程（km）</td>
                        <td align="center" colspan="2">540</td>
                    </tr>
                    <tr>
                        <td class="thbj">百公里耗电（kwh/100km）</td>
                        <td align="center" colspan="2">13.2</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">交流慢充时间</td>
                        <td align="center" colspan="2">7.5h</td>
                    </tr>
                    <tr>
                        <td class="thbj">直流快充时间</td>
                        <td align="center" colspan="2">30分钟</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">变速箱型式</td>
                        <td align="center" colspan="2">EDS电驱动系统</td>
                    </tr>
                    <tr>
                        <td class="thbj">制动能量回收系统</td>
                        <td align="center" colspan="2">KERS制动能量回收三级模式</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">电机峰值功率（kw）</td>
                        <td align="center" colspan="2">85</td>
                    </tr>
                    <tr>
                        <td class="thbj">电机峰值扭矩（Nm）</td>
                        <td align="center" colspan="2">255</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">最高车速（km/h）</td>
                        <td align="center" colspan="2">150</td>
                    </tr>
                    <tr>
                        <td class="thbj">0-50km/h 加速（s）</td>
                        <td align="center" colspan="2">4.8</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">悬挂系统</td>
                        <td align="center" colspan="2">前麦弗逊/后U型扭转梁</td>
                    </tr>
                    <tr>
                        <td class="thbj">制动系统</td>
                        <td align="center" colspan="2">前大尺寸通风盘式/后盘式</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">转向系统</td>
                        <td align="center" colspan="2">EPS电动助力转向</td>
                    </tr>
                    <tr>
                        <td class="thbj">轮毂</td>
                        <td align="center" width="34%">16寸钢轮毂</td>
                        <td align="center" width="34%">16寸五辐式精车双色铝合金轮毂</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">轮胎</td>
                        <td align="center">205/60 R16</td>
                        <td align="center">205/60 R16</td>
                    </tr>
                    <tr>
                        <td class="thbj">备胎</td>
                        <td align="center" colspan="2">非全尺寸备胎（T115/70R16）</td>
                    </tr>

                    <!---律动设计-->
                    <tr class="x_v3">
                        <th colspan="3">律动设计</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">新能源家族律动式专属格栅</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">箭翎C位大灯</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">交响小号LED尾灯</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">快充呼吸式发光车标</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">一键防夹电动天窗</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">铝合金一体式行李架</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">LED日间行车灯</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>

                    <!---舒适便利-->
                    <tr class="x_v4">
                        <th colspan="3">自在舒适</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">自动恒温热泵空调</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">电动热泵空调</td>
                        <td align="center">●</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">后排吹脚通风</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">PM2.5全效空气粉尘过滤系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">负离子净化系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">高级皮质座椅</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">驾驶席6向电动座椅</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">驾驶席6向手动座椅</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">驾驶席手动腰托</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">副驾驶席4向手动座椅</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">前排座椅电加热</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">后排4/6拆分折叠座椅</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">Touch Access智能无钥匙进入</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">Push Start 一键启动功能</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">Lazy Locking</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">蓝牙智能钥匙</td>
                        <td align="center">2</td>
                        <td align="center">2</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">科技旋钮式电子排挡</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">遥控开启行李箱盖</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">真皮多功能方向盘</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">方向盘四向手动可调</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">防眩目内后视镜</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">自动防眩目内后视镜</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">电加热除雾外后视镜</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">外后视镜电动折叠</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">大灯自动开启</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">外后视镜集成式LED转向灯</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">四门一触式防夹电动车窗（支持语音控制）</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">驾驶员车窗一键升降</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">雨量感应式自动无骨雨刮（支持语音控制）</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">无骨雨刮</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">高保真扬声器音响系统</td>
                        <td align="center">6</td>
                        <td align="center">6</td>
                    </tr>
                    <tr>
                        <td class="thbj">USB端口(带充电功能，前后各两个）</td>
                        <td align="center">4</td>
                        <td align="center">4</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">前排12V电源</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">前/后排宽适中央扶手（带杯托）</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">前排遮阳板化妆镜带照明灯/前后排阅读灯/眼镜盒/前排座椅后靠背地图袋</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">行李舱照明灯/储物网兜/遮物帘</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>

                    <!---安全防护-->
                    <tr class="x_v5">
                        <th colspan="3">无忧安全</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">前排双安全气囊</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">前排侧安全气囊</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">一体式侧安全气帘</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">ESP车身电子稳定系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">ABS防抱死制动系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">EBD电子制动力分配系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">CBC弯道制动控制系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">TCS牵引力控制系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">VDC车辆动态控制系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">HHC坡道辅助控制系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">BDW制动盘清洗系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">HBA制动力辅助系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">直接式智能胎压监测系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">大灯未关报警提醒功能</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">高级动态辅助倒车影像</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">高灵敏后预警式倒车雷达</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">CCS定速巡航控制系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">LDW车道偏离辅助系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">AEB自动紧急刹车系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">FCW前方碰撞预警系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">SAS车速辅助系统</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr>
                        <td class="thbj">大灯远近光自动切换</td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">方向盘回正提醒</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">EPB电子刹车系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">Auto Hold自动驻车系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">驾驶座中控门锁集控功能</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">车速感应式自动落锁</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">Follow Me Home伴我回家功能</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">紧急制动频闪提醒功能</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">LED高位刹车灯</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">前排三点式预紧式安全带</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">后排全三点式安全带</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">主/副驾驶安全带未系报警</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">后门儿童锁</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">ISOFIX 儿童安全座椅固定接口</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>

                    <!---互联驾享-->
                    <tr class="x_v6">
                        <th colspan="3">智能互联</th>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">8英寸高清触控电容屏</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">7英寸交互式半虚拟仪表</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">双屏互动交互（仪表与主机交互显示导航、车辆状态、音乐等信息）</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">高速通讯连接（4G通讯网络、蓝牙4.0、车机手机双向WiFi）</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">蓝牙系统</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td class="thbj">手机蓝牙钥匙</td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr class="trbg">
                        <td class="thbj">收音机</td>
                        <td align="center">●</td>
                        <td align="center">●</td>
                    </tr>

                    <tr>
                        <td class="thbj">
                            互联娱乐行车系统
                            <br>-IOS Carplay/Android Carlife 随心互联
                            <br>-蓝牙手机免提系统
                            <br>-多媒体影音娱乐
                        </td>
                        <td align="center">-</td>
                        <td align="center">-</td>
                    </tr>

                    <tr class="trbg">
                        <td class="thbj">
                            互联网汽车智能系统2.0<br>（基于AliOS的斑马智行解决方案）
                            <br>-沉浸式人工智能语音
                            <br>-手机远程车控
                            <br>-个性化大数据导航（停车场智能推荐及自动支付服务/充电桩智能推荐）
                            <br>-自驾游旅途服务（路书导览/景点语音伴游播报/自驾车队实时位置共享及对讲/旅途游记一键生成及分享)
                            <br>-智慧出行云娱乐（在线音乐/全国在线电台/蜻蜓FM/喜马拉雅FM/U盘视频/语音游戏）
                            <br>-智能硬件连接（小蚁4K运动相机/零度Dobby无人机/盯盯拍M3行车记录仪）
                            <br>-智能养车服务（智慧车险服务/维保养护在线预约/车享驿站服务在线预约/道路救援服务）
                            <br>-车友圈实时位置共享及对讲
                            <br>-支持淘宝/支付宝账号
                            <br>-OTA无限升级迭代
                        </td>
                        <td align="center">-</td>
                        <td align="center">●</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">外饰色彩主题：珠光白、丝绸灰、赤焰红、索尔蓝、银叶金、炫酷黑；内饰色彩主题：冰川岩、液态黑</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ei5item">
    <a id="carsow7"></a>
    <ul class="ei5w7">
        <li class="imgw1" zib="1"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic15.jpg"></li>
        <li class="imgw2" zib="2"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic16.jpg"></li>
        <li class="imgw2" zib="3"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic17.jpg"></li>
        <li class="imgw3" zib="4"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic18.jpg"></li>
        <li class="imgw4" zib="5"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic19.jpg"></li>
        <li class="imgw2" zib="6"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic20.jpg"></li>
        <li class="imgw2" zib="7"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic21.jpg"></li>
        <li class="imgw5" zib="8"><span><img src="../rongweiEi5/images/ei5Pic14.png"></span><img src="../rongweiEi5/images/ei5Pic22.jpg"></li>
    </ul>
</div>

<div class="ei5item ei5Yuit">
    <a id="carsow8"></a>
    <div class="ei5yutit yfont28">
        <h1>资料下载</h1>
        <div class="yfont20" style="margin-top:60px;">
            <a href="../rongweiEi5/files/荣威Ei5质保及配件价格说明.pdf" style="color:#52a04e" download>《荣威Ei5质保及配件价格说明》</a>
        </div>
    </div>
</div>

<!-- 弹出图层 -->
<div class="Rw_jjtan fx dh_d3">
    <div class="con re">
        <div class="clearfix"><img src="../rongweiEi5/images/ei5x.svg" alt="" class="gb_im shou fr dh_d3"></div>
        <div class="mg6_jjtan_slick">
            <div><img src="../rongweiEi5/images/ei5PicD01.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD02.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD03.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD04.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD05.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD06.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD07.jpg"></div>
            <div><img src="../rongweiEi5/images/ei5PicD08.jpg"></div>
        </div>
    </div>
</div><!-- mg6_jjtan end -->
<!--详情-->
<div class="ei5Det">
    <div class="ei5deC"><img src="../rongweiEi5/images/ei5x.svg"></div>
    <!--01轻能源-->
    <div class="fixedi5">
        <div class="ei5deitem ei5de1" data-sum="1">
            <div>
                <img src="../rongweiEi5/images/d1_02_1.jpg" data-src="../rongweiEi5/images/d1_02_1.jpg" class="imgI10">
                <div class="DeText">
                    <h4>高能量密度三元锂电池</h4>
                    <p>同级最高能量密度大于140Wh/kg，实现匀速续航里程540公里；电流测量精度达千分之五，超精准估计剰余里程。</p>
                    <p>* 动力蓄电池所有人（电池租赁等运营企业）应将废旧动力蓄电池移交至回收服务网点。废旧动力蓄电池移交给其他单位或个人，私自拆卸、拆解动力蓄电池，由此导致环境污染或安全事故的，应承担相应责任。</p>
                </div>
            </div>
            <div>
                <img src="../rongweiEi5/images/d1_02.jpg" data-src="../rongweiEi5/images/d1_02.jpg" class="imgI10">
                <div class="DeText">
                    <h4>EDS智能电驱动系统</h4>
                    <p>上汽独创的电驱变速箱带来不同于燃油车的平顺驾驭感；高集成设计让结构紧凑、整车质量更轻，带来更大空间和更低能耗；电机起步时实现超高扭矩，4.8秒0-50km起步加速度远超同级燃油车。</p>
                    <h4>VCU高效智能电控系统</h4>
                    <p>三种驾驶风格配以三种制动能量回收强度，组合出九种不同驾驶体验；结合iBooster电控制动系统，最大程度回收制动能量。</p>
                </div>
            </div>
        </div>
    </div>

    <!--02轻触动-->
    <div class="fixedi5">
        <div class="ei5deitem ei5de2" data-sum="2">
            <div>
                <img src="../rongweiEi5/images/d2_01.jpg" data-src="../rongweiEi5/images/d2_01.jpg" class="imgI10">
                <div class="DeText DeTextul">
                    <ul>
                        <li>
                            <h4>沉浸式人工智能语音</h4>
                            <p>
                                根据不同座位发出的语音指令分别提供精准反馈，依据情景提供最贴心反应，只要一声“下雨了”，相应天窗、调节内外循环等操作即刻完成动作。
                                <span class="fc5">语音控制空调/天窗/雨刮/车窗/前排座椅加热/音乐播放/导航/天气搜索/主副驾双区智能语音控制/情景式智能语音控制/AI在线语音客服/Oneshot连贯式语音命令/免唤醒快捷指令</span>
                            </p>
                        </li>
                        <li>
                            <h4>手机远程车控</h4>
                            <p>
                                可随时随地通过手机 APP找到爱车，并远程解锁、提前开启空调和座椅加热等设备，甚至可以用手机代替车钥匙。
                                <span class="fc5">远程锁车/解锁/座椅预热/车内降温/暖车/超远程后备箱收件/手机车钥匙/远程授权用车分享/寻车及位置引导</span>
                            </p>
                        </li>
                        <li>
                            <h4>个性化大数据导航</h4>
                            <p>
                                基于互联网大数据，实时知晓前方路况，不仅规划最佳路线，更有加油站/停车场自动支付、停车场/充电桩智能 推荐等多项贴心出行服务
                                <span class="fc5">美食地图/车辆服务地图/组队位置共享/前方拥堵提醒/充电桩智能推送/停车场智能推荐及自动支付服务</span>
                            </p>
                        </li>
                        <li>
                            <h4>斑马自驾游旅途服务</h4>
                            <p>
                                以地图方式呈现自驾路书，抵达景点播报相应导览或旅行小贴士。自驾轨迹与沿途抓拍照片可同步至APP并生成游记，随即分享
                                <span class="fc5">路书导览/景点语音伴游播报/自驾车队实时位置共享及对讲/旅途游记一键生成及分享</span>
                            </p>
                        </li>
                        <li>
                            <h4>智能硬件接入</h4>
                            <p>
                                根据不同座位发出的语音指令分别提供精准反馈，依据情景提供最贴心反应，只要一声“下雨了”，相应天窗、调节内外循环等操作即刻完成动作。
                                <span class="fc5">小蚁4K运动相机/零度Dobby无人机/盯盯拍M3行车记录仪等</span>
                            </p>
                        </li>
                        <li>
                            <h4>智慧出行云娱乐</h4>
                            <p><span class="fc5">在线音乐/在线全国电台/蜻蜓FM/喜马拉雅FM/U盘视频/语音游戏</span></p>
                        </li>
                        <li>
                            <h4>智能养车服务</h4>
                            <p><span class="fc5">智慧车险服务/维保养护在线预约/车享驿站服务在线预约/道路救援服务</span></p>
                        </li>
                    </ul>
                    <div class="clearfix ulnexb"><p class="fc9 fr">*涉及车辆控制相关的功能，依各实际车款配置可能有所不同</p></div>
                </div>
            </div>
        </div>
    </div>

    <!--03轻设计-->
    <!-- <div class="fixedi5" style="height: 723.536px; margin-top: -41px; margin-left: 380.5px;">
        <div class="ei5deitem ei5de3" data-sum="3" style="height: 723.536px;">
            <img src="../rongweiEi5/images/d3_01.jpg" data-src="../rongweiEi5/images/d3_01.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>半悬浮流畅车顶设计</h4>
            </div>
            <img src="../rongweiEi5/images/d3_02.jpg" data-src="../rongweiEi5/images/d3_02.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>新能源家族律动式专属格栅</h4>
            </div>
            <img src="../rongweiEi5/images/d3_03.jpg" data-src="../rongweiEi5/images/d3_03.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>箭翎C位大灯</h4>
            </div>
            <img src="../rongweiEi5/images/d3_04.jpg" data-src="../rongweiEi5/images/d3_04.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>16寸五辐式精车双色铝合金轮毂</h4>
            </div>
            <img src="../rongweiEi5/images/d3_05.jpg" data-src="../rongweiEi5/images/d3_05.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>交响小号LED尾灯</h4>
            </div>
            <img src="../rongweiEi5/images/d3_06.jpg" data-src="../rongweiEi5/images/d3_06.jpg" class="imgI10">
            <div class="DeText tCenent">
                <h4>简约雅致风格尾标</h4>
            </div>
        </div>
    </div> -->
    <!--04轻体验-->
    <div class="fixedi5">
        <div class="ei5deitem ei5de4" data-sum="4">
            <div>
                <img src="../rongweiEi5/images/d4_01.jpg" data-src="../rongweiEi5/images/d4_01.jpg" class="imgI10">
                <div class="DeText">
                    <h4>高效节能热泵空调技术  远离冬季续航里程焦虑</h4>
                    <p>国内首用高效节能热泵空调技术,在零下五度以上环境中,较传统空调节约电能50%以上，即使是在寒冷的冬季，打开空调制热,也不必担心电耗问题，远离里程焦虑。</p>
                </div>
            </div>
            <div>
                <img src="../rongweiEi5/images/d4_02.jpg" data-src="../rongweiEi5/images/d4_02.jpg" class="imgI10">
                <div class="DeText">
                    <h4>1367L超大后排及后备箱空间  后排座椅4/6分割放倒设计</h4>
                </div>
            </div>
            <div>
                <img src="../rongweiEi5/images/d4_03.jpg" data-src="../rongweiEi5/images/d4_03.jpg" class="imgI10">
                <div class="DeText">
                    <h4>9处储物空间  27处储物特征</h4>
                </div>
            </div>
            <div>
                <img src="../rongweiEi5/images/d4_04.jpg" data-src="../rongweiEi5/images/d4_04.jpg" class="imgI10">
                <div class="DeText">
                    <h4>科技旋钮式电子排挡  负离子净化系统  无钥匙进入/一键启动</h4>
                </div>
            </div>
        </div>
    </div>

    <!--05轻顾虑-->
    <div class="fixedi5">
        <div class="ei5deitem ei5de5" data-sum="5">
            <div>
                <img src="../rongweiEi5/images/d5_02.jpg" data-src="../rongweiEi5/images/d5_02.jpg" class="imgI10">
                <div class="DeText">
                    <h4>三大品质承诺 保障后顾无忧</h4>
                    <p class="fc3">
                        承诺一：8年12万公里三电质保 <br>
                        承诺二：8年20万公里电池衰减＜30%<br>
                        承诺三：“绿芯管家”随时待命（全国部分城市专享）。<br>
                    </p>
                    <p>包括24h原厂技师技术支持、双管家2对1专属服务、充电桩2年免费保养维护及年检、绿芯专属停车位及快速工位。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="javascript:;" class="kf_top">
    <img src="../rongweiEi5/images/top.png" alt="">
</a>


@section Scripts{
    <script src="../rongweiEi5/js/hwt.js" async=""></script>
    <script src="../rongweiEi5/js/hm.js"></script>
    <script src="../rongweiEi5/js/jquery.min.js"></script>
    <script src="../rongweiEi5/js/jquery.cookie.js"></script>
    <script src="../rongweiEi5/js/jquery.mousewheel.min.js"></script>
    <script src="../rongweiEi5/js/common.js"></script>
    <script src="../rongweiEi5/js/carType.js"></script>
    <script src="../rongweiEi5/js/js.js"></script>
    <script src="../rongweiEi5/js/slick.js"></script>
    <link href="../rongweiEi5/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <script src="../rongweiEi5/js/jquery.mCustomScrollbar.js"></script>
    <script>
        (function ($) {
            //top
            $('.kf_top').click(function () {
                if (scroll == "off") return;
                $("html,body").animate({ scrollTop: 0 }, 400);
            });

            $(window).load(function () {
                //mCustomScrollbar滚动条
                $(function () {
                    var elli = $('.tableTab ul li');
                    //$('.yins_tan .v3').mCustomScrollbar();
                    $(".ei5tableSoll").mCustomScrollbar({
                        callbacks: {
                            whileScrolling: function () {
                                var top = Math.abs(parseInt($('#mCSB_1_container').css('top')));
                                console.log(v1_top, v2_top, top);
                                if (top >= v1_top && top < v2_top) {
                                    elli.eq(0).addClass('cur').siblings().removeClass('cur');
                                } else if (top >= v2_top && top < v3_top) {
                                    elli.eq(1).addClass('cur').siblings().removeClass('cur');
                                } else if (top >= v3_top && top < v4_top) {
                                    elli.eq(2).addClass('cur').siblings().removeClass('cur');
                                } else if (top >= v4_top && top < v5_top) {
                                    elli.eq(3).addClass('cur').siblings().removeClass('cur');
                                } else if (top >= v5_top && top < v6_top) {
                                    elli.eq(4).addClass('cur').siblings().removeClass('cur');
                                } else {
                                    elli.eq(5).addClass('cur').siblings().removeClass('cur');
                                }
                            }
                        }
                    });

                    $('.tableTab ul li').on('click', function () {
                        var index = $(this).index() + 1;
                        $(".ei5tableSoll").mCustomScrollbar("scrollTo", '.x_v' + index);
                    });
                    var v1_top = $('.x_v1').position().top;
                    var v2_top = $('.x_v2').position().top;
                    var v3_top = $('.x_v3').position().top;
                    var v4_top = $('.x_v4').position().top;
                    var v5_top = $('.x_v5').position().top;
                    var v6_top = $('.x_v6').position().top;
                });

                //弹出图层
                $('.mg6_jjtan_slick').slick({
                    dots: false,
                    fade: false,
                    autoplay: false,
                    autoplaySpeed: 3000,
                    pauseOnHover: false,
                    draggable: false,
                    speed: 100,
                    onAfterChange: function (index) {
                        var mg6_jjtan_slick = index.currentSlide;
                        $('.shu_zi .cur').text(mg6_jjtan_slick + 1);
                    }
                });
            });
        })(jQuery);
    </script>
}