
@{
    ViewData["Title"] = "Solution";
}

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            var solutionId = "@ViewBag.id"; //解决方案id
            var itemId = urlArgs().itemId;  //通过url截取文章id
            console.log('itemId', itemId);

            //获取解决方案里的文章列表
            $.ajax({
                type: "GET",
                url: "/admin/GetSolution/" + solutionId,
                data: null,
                dataType: "json",
                success: function (response) {
                    $("#name").text(response.data.name);
                    $("#describe").text(response.data.describe)

                    if (response.data.solutionItems && response.data.solutionItems.length > 0) {
                        if (itemId == undefined) {//如果文章id为空, 就默认为列表里的第一篇
                            itemId = response.data.solutionItems[0].id;
                        }

                        //生成文章列表
                        var html = '';
                        response.data.solutionItems.forEach(function (node, index) {
                            html += '<a href="javascript:;" onclick="changeItem($(this))" class="item ' + (itemId == node.id ? 'active' : '') + '" id="' + node.id + '">' + node.name + '</a>';
                        });
                        $("#category").html(html);

                        changeItem($("#" + itemId));
                    }
                    else {
                        $("#article").html('<p>暂无内容</p>');
                    }
                }
            });

            //文章列表点击切换文章内容
            changeItem = function (obj) {
                $.ajax({
                    type: "GET",
                    url: "/admin/GetSolutionItemPost/" + obj.attr("id"),
                    data: null,
                    dataType: "json",
                    success: function (response) {
                        $("#article").html(response.data);
                        $("#category a.active").removeClass("active");
                        $("#" + obj.attr("id")).addClass("active");
                    }
                });
            }

            //获取url参数(返回对象)
            function urlArgs() {
                var args = {};
                var query = location.search.substring(1);
                var pairs = query.split("&");
                for (var i = 0; i < pairs.length; i++) {
                    var pos = pairs[i].indexOf("=");
                    if (pos == -1) {
                        continue;
                    }
                    var name = pairs[i].substring(0, pos);
                    var value = pairs[i].substring(pos + 1);
                    args[name] = value;
                }
                return args;
            }
        });
    </script>
}

<div class="header_solution">
    <img src="../img/action-bg.jpg" />
    <div class="solution-name">
        <span id="name"></span>
        <p class="solution-summary" id="describe"></p>
    </div>
</div>
<div class="container solution-content">
    <div class="row">
        <!--侧边栏: 文章列表-->
        <div class="col-md-3 solution-category" id="category">
        </div>

        <!--正文: 文章内容-->
        <div class="col-md-9 solution-article" id="article">
        </div>
    </div>
</div>