
@{
    ViewData["Title"] = "Tech";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="header_solution">
    <img src="../img/bg/bg-1.jpg" />

    <div class="solution-name">
        <span id="name">已发布产品</span>
        <p class="solution-summary" id="describe"></p>
    </div>
</div>

<div class="container p-t-30" style="height:500px;">
    建设中
</div>

