@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

@section Style{
    <link href="../xundao/css/style.css" rel="stylesheet">
}

<section class="all-skillbar tabNav">
    <img class="img-responsive" src="../xundao/images/4515048bf381c4266b7437c6bea015fb.jpg" alt="服务支持">
</section>
<a name="azsm"></a>
<section class="all-skillbar">
    <div class="container">
        <div class="row">
            <h2>安装服务 INSTALLATION SERVICE</h2>
            <br>
            <h3>4S店确认客户安装条件</h3>
            <br>
            <p>1.销售导购时询问客户安装地址是否有固定车位，物业是否同意安装充电桩及证明盖章</p>
            <p>2.确认客户符合安装条件，4S店提供《电动车充电设施安装登记证明》，如客户需要申请独立计费电表则需提供二份</p>
            <p>3.客户拿到《电动车充电设施安装登记证明》后，尽快去物业盖章，盖章原件交与4S店或充电服务商</p>
            <br>
            <h3>4S店安装任务派工</h3>
            <br>
            <p>4S店填写循道统一格式派工单,敲章扫描后发送至循道充电服务商客服中心，《电动汽车充电设施安装登记证明》原件快递至循道充电服务商客服中心。</p>
            <br>
            <h3>客服接单后联系客户</h3>
            <p>客服收到4S店的电子派工单后24小时内联系客户，电话中了解客户安装地址及施工条件。</p>
            <br>
            <p>情况1：无需申请独立计费电表的客户，施工条件完善，预约上门安装，正常安装时间为次日。</p>
            <p>情况2：需要申请独立计费电表的客户，客服电话告知大致申请电表流程，提醒客户尽快自行前往国家电网申请，客服后续跟进客户电表安装进度，确认电表完成后，安排次日上门安装充电桩。</p>
            <p>情况3：电话沟通中无法确认施工条件的客户，客服安排预约上门勘查时间，勘查完后确认施工方案，客服预约次日上门安装充电桩。</p>
            <br>
            <br>
        </div>
    </div>
</section>
<section class="all-skillbar">
    <img class="img-responsive" src="../xundao/images/fw1.jpg" alt="">
</section>
<section class="all-skillbar">
    <div class="container">
        <div class="row">
            <h2>上海市新能源汽车充电桩安装电力报装流程及提供材料</h2>
            <br>
            <h3>4S店确认客户安装条件</h3>
            <br>
            <p>物业协调：《电动汽车充电设施安装登记证明》物业栏盖章</p>
            <p>充电桩安装：第三方充电设施建设运营单位上门为客户安装充电桩（挂桩或安装放线至预估的电力表位处）</p>
            <p>电力勘查：电力公司在受理后按约定时间至现场勘查供电条件，确定供电方案及表位</p>
            <p>电力装表：电力7-10工作日内完成装表接电</p>
            <p>备注：</p>
            <p>1：电力报装流程由用户自行办理</p>
            <p>2：《电动汽车充电设施安装登记证明》一式二份，一份只需物业盖章交与电力部门用于电力报装，另一份在充电桩安装完成后，物业、第三方充电设施建设运营单位、4S店三方盖章后交与4S店用于办理新能源车牌。</p>
            <p>3：新能源车专用电表计费标准无阶梯计算，具体标准建议致电电力服务热线95598咨询。</p>
            <br>
            <h3>电力报装材料</h3>
            <br>
            <p>1：用户身份证（ 原件、复印件 ）</p>
            <p>2：用户房产证。（ 复印件 ）</p>
            <p>3：购车预售合同或购车合同或购车发票（ 原件、复印件 ）</p>
            <p>4：《 电动汽车充电设施安装登记证明 》（ 原件、物业盖章 ）</p>
            <p>5：车辆行驶证（ 原件、复印件 ）</p>
            <p>6：固定车位产权证明或使用权证明或租赁证明（ 原件、物业盖章 ）</p>
            <p>备注：</p>
            <p>1：目前各区域电力公司报装需要的材料略有不同，建议致电电力服务热线95598咨询。</p>
            <br>
            <br>
        </div>
    </div>
</section>
<section class="all-skillbar">
    <img class="img-responsive" src="../xundao/images/fw2.jpg" alt="">
</section>
<section class="all-skillbar">
    <div class="container">
        <div class="row">
            <h3>上门施工安装</h3>
            <br>
            <p>施工人员按确认的安装方案和时间上门安装，现场拍摄照片（人与桩合影近照及远照、配电箱、设备编码），客户签字确认竣工单。</p>
            <br>
            <h3>循道充电服务商客服收集安装资料</h3>
            <br>
            <p>STEP 1：安装人员次日提交安装照片及竣工单，客服中心收集整理存档</p>
            <p>STEP 2：客服收集完安装资料后将电子版发送至4S店联系人</p>
            <p>STEP 3：《电动汽车充电设施安装登记证明》敲章后，由顺丰快递或销售人员交与4S店</p>
            <a name="shzc"></a>
            <br>
            <h3>售后服务</h3>
            <br>
            <p>如安装部分发生故障，用户可致电循道服务热线 <a href="tel:400-012-0021"><strong>400-012-0021</strong></a> 转售后</p>
            <p>如用户需要二次安装或移机，收费标准请咨询 <a href="tel:400-012-0021"><strong>400-012-0021</strong></a> 转销售</p>
            <a name="cjwt"></a>
            <br>
            <h2>疑问解答 ANSWER QUESTIONS</h2>
            <br>
            <h4>显示屏没有文字显示，背光不亮，指示灯也不亮，按下按键无反应？</h4>
            <p>该情况可能为整机断电，请检查电源线是否插好或者两个进线空开有没有打到开状态</p>
            <br>
            <h4>充电桩有电，只有显示屏不亮，也不显示文字，其他正常？</h4>
            <p>打开后门检查显示屏与主板连接线是否松动，并压紧</p>
            <br>
            <h4>在首页刷卡提示“冻结卡，正在解冻……”，却一直解冻不了？</h4>
            <p>这个表明该卡上次操作时只有启动充电而没有结束充电，而且本桩有冻结记录，但是该卡在本桩上没有冻结记录，该卡只能去服务中心处理</p>
            <br>
            <h4>卡片在读卡区域没有反应？</h4>
            <p>确认是否是本系统所用卡片，充电桩相应版本对应相应卡片，若读卡器有故障，显示屏显示“暂停服务”，按下翻键会看到具体故障信息</p>
            <br>
            <h4>急停异常？</h4>
            <p>首先检查急停的连接线是否插紧，可以重新插拔一次，若故障依然存在，则为故障需要维修</p>
            <br>
            <h4>读卡器通信异常？</h4>
            <p>首先检查读卡器的连接线是否插紧，可以重新插拔一次，若故障依然存在，则为故障需要维修</p>
            <br>
            <a href="tel:400-012-0021"><h2>更多问题请拨打 400-012-0021</h2></a>

            <br>
            <h3>安装视频</h3>
            <div style="text-align:center">
                <iframe height="500" width="800" src="http://player.youku.com/embed/XNDI0MzY0NTc0OA==" frameborder="0" "allowfullscreen"></iframe>
            </div>
        </div>
    </div>
</section>

<!--返回顶部-->
<div class="goup-container">
    <div class="goup-arrow"></div>
</div>
<div class="goup-text">返回顶部</div>

@section Scripts{
    <script src="../xundao/js/jquery.goup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                title: '返回顶部',
                titleAsText: true
            });
        });
    </script>
}
