@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

@section Style{
    <link href="../xundao/css/style.css" rel="stylesheet">
    <style type="text/css">
        p {
            line-height:150%;
        }
        .table {
            border: 1px solid #e2e7eb
        }

            .table tr td {
                background: #fff;
                font-size: 16px;
            }

            .table tr.trhead {
                background: #eee;
                font-size: 16px;
                font-weight: bold;
            }

            .table td:nth-of-type(odd),
            .table td:nth-of-type(even) {
                width: auto;
                border-right: 1px solid #ddd;
            }
    </style>
}

<section class="all-skillbar">
    <img class="img-responsive" src="../xundao/images/fw1.jpg" alt="">
</section>
<section class="all-skillbar">
    <div class="container">
        <div class="row">
            <h2>新能源汽车充电桩安装电力报装流程及提供材料</h2>
            <br>
            <h3>安装服务流程说明</h3>
            <br>
            <p>确认客户安装条件</p>
            <p>1）销售导购时需询问客户安装地址是否有固定车位，物业是否同意安装充电桩及证明盖章；</p>
            <p>2）确认客户符合安装条件，网站可下载《物业或村委允许施工书面说明》、《固定车位产权证明》。</p>
            <p style="text-indent:28px;">下载:<a href="../xundao/file/物业或村委允许施工书面说明.pdf" download>《物业或村委允许施工书面说明》</a>、<a href="../xundao/file/固定车位产权证明.pdf" download>《固定车位产权证明》</a></p>
            <br>

            <h3>电力报装申请流程说明</h3>
            <br>
            <p>1）客户拿到《物业或村委允许施工书面说明》、《固定车位产权证明》后，尽快去物业或村委会盖章；</p>
            <p>2）客户携带电力报装材料，自行前往所在地电力公司申请；</p>
            <p>3）电力公司受理后至现场勘查供电条件，确定供电方案及表位；</p>
            <p>4）电力7-10工作日内完成装表接电；</p>
            <p>5）备注：目前各区域电力公司报装需要的材料略有不同，建议致电电力服务热线95598咨询。</p>
            <br>

            <h3>电力报装材料</h3>
            <br>
            <p>1）客户身份证（原件、复印件）；</p>
            <p>2）电动车的行驶证/购买发票（原件）；</p>
            <p>3）客户固定车位产权证明/(租赁)产权单位许可证明、及物业允许施工的书面说明（原件、物业/村委会盖章）；</p>
            <p>4）如果是自建房，客户需提供房产证或购房合同（复印件）。</p>
            <br>
        </div>
    </div>
</section>
<section class="all-skillbar">
    <img class="img-responsive" src="../xundao/images/fw2.jpg" alt="">
</section>
<section class="all-skillbar">
    <div class="container">
        <div class="row">
            <h3>安装派工流程说明</h3>
            <br>
            <p>电力公司安装好电表后，领承安排安装队联系客户，电话中了解客户安装地址及施工条件。</p>
            <br>
            <p>情况1：无需申请独立计费电表的客户，施工条件完善，预约上门安装，正常安装时间为次日；</p>
            <p>情况2：需要申请独立计费电表的客户，客服电话告知大致申请电表流程，提醒客户尽快自行前往国家电网申请，客服后续跟进客户电表安装进度，确认电表完成后，安排次日上门安装充电桩；</p>
            <p>情况3：电话沟通中无法确认施工条件的客户，客服安排预约上门勘查时间，勘查完后确认施工方案，客服预约次日上门安装充电桩。</p>
            <br>

            <h3>上门施工安装说明</h3>
            <br>
            <p>1）施工人员按确认的安装方案和时间上门安装，现场拍摄照片（人与桩合影近照及远照、配电箱、设备编码），客户签字确认竣工单；</p>
            <p>2）实际安装中走线过长会引起充电电压下降，为减小压降，应根据实际线缆长度选取适合截面积的线缆。例如线缆总长度超过30米至55米之间，需使用10平方线缆。</p>
            <br>

            <h3>领承客服收集安装资料</h3>
            <br>
            <p>1）安装人员次日提交安装照片及竣工单，客服中心收集整理存档；</p>
            <p>2）客服收集完安装资料存档。</p>
            <br>


            <h3>售后服务</h3>
            <br>
            <p>如安装部分发生故障，客户可致电领承陈先生 <b>13524155084</b>；</p>
            <p>如用户需要二次安装或移机，收费标准请咨询 <b>13524155084</b>。</p>
            <br>

            <h3>私人自用交流充电桩安装收费标准（2019年）</h3>
            <br>
            <style type="text/css">
                
            </style>
            <table class="table" border="0" cellspacing="1" cellpadding="10">
                <tr class="trhead">
                    <td width="100" nowrap>序号</td>
                    <td width="200" nowrap>收费项目</td>
                    <td width="300" nowrap>收费内容说明</td>
                    <td width="300" nowrap>安装</td>
                    <td width="200" nowrap>备注</td>
                </tr>
                <tr>
                    <td>一</td>
                    <td>基本安装费</td>
                    <td>电源至安装位置电缆30m内</td>
                    <td>1500</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>二</td>
                    <td>超标准安装费</td>
                    <td>标准外、特殊工程及总价附件</td>
                    <td>客户承担</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>国标电缆</td>
                    <td>YJV-3*6</td>
                    <td>>30米部分45元/米</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>国标电缆</td>
                    <td>YJV-3*10</td>
                    <td>>30米部分68元/米</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>PVC管</td>
                    <td>D25，D20</td>
                    <td>D25—10元/米，D20—6元/米</td>
                    <td>室内</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>镀锌管</td>
                    <td>D25，D20</td>
                    <td>D25—12元/米，D20—10元/米</td>
                    <td>室外</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>新建桥架</td>
                    <td>50*100*1.0</td>
                    <td>80元/米</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>混凝土基础</td>
                    <td>350*350*350</td>
                    <td>500元/米</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>充电桩立柱</td>
                    <td>循道充电桩专配</td>
                    <td>300元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>防护箱</td>
                    <td>铁皮喷塑</td>
                    <td>350元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>防护箱</td>
                    <td>不锈钢</td>
                    <td>450元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>漏电断路器</td>
                    <td>含漏电断路器（额定电流30mA A型或B型优选额定电流32A，C特性）</td>
                    <td>80元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>空开盒</td>
                    <td>室内配电盒防水等级IP32</td>
                    <td>80元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>单相电度表</td>
                    <td>单相数显</td>
                    <td>150元/个</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>软路面开挖</td>
                    <td>泥土、绿化带</td>
                    <td>50元/米</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>硬路面开挖</td>
                    <td>混凝土、水泥、沥青路面、草坪砖、镶草砖、人行步道砖</td>
                    <td>200元/米</td>
                    <td></td>
                </tr>
            </table>
            <br>

            <h2>充电桩设备疑问解答 ANSWER QUESTION</h2>
            <br>
            <h4>显示屏没有文字显示，背光不亮，指示灯也不亮，按下按键无反应？</h4>
            <p>解决方案：该情况可能为整机断电，请检查电源线是否插好或者两个进线空开有没有打到开状态。</p>
            <br>
            <h4>充电桩有电，只有显示屏不亮，也不显示文字，其他正常？</h4>
            <p>解决方案：打开后门检查显示屏与主板连接线是否松动，并压紧。</p>
            <br>
            <h4>在首页刷卡提示“冻结卡，正在解冻……”，却一直解冻不了？</h4>
            <p>解决方案：这个表明该卡上次操作时只有启动充电而没有结束充电，而且本桩有冻结记录，但是该卡在本桩上没有冻结记录，该卡只能去服务中心处理。</p>
            <br>
            <h4>卡片在读卡区域没有反应？</h4>
            <p>解决方案：确认是否是本系统所用卡片，充电桩相应版本对应相应卡片，若读卡器有故障，显示屏显示“暂停服务”，按下翻键会看到具体故障信息。</p>
            <br>
            <h4>急停异常？</h4>
            <p>解决方案：首先检查急停的连接线是否插紧，可以重新插拔一次，若故障依然存在，则为故障需要维修。</p>
            <br>
            <h4>读卡器通信异常？</h4>
            <p>解决方案：首先检查读卡器的连接线是否插紧，可以重新插拔一次，若故障依然存在，则为故障需要维修。</p>

            <br>
            <h3>安装视频</h3>
            <div style="text-align:center; margin-bottom:50px">
                <iframe height="500" width="800" src="http://player.youku.com/embed/XNDI0MzY0NTc0OA==" frameborder="0" "allowfullscreen"></iframe>
            </div>
        </div>
    </div>
</section>

<!--返回顶部-->
<div class="goup-container">
    <div class="goup-arrow"></div>
</div>
<div class="goup-text">返回顶部</div>

@section Scripts{
    <script src="../xundao/js/jquery.goup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                title: '返回顶部',
                titleAsText: true
            });
        });
    </script>
}
