@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

@section Style{
    <link href="../xundao/css/style.css" rel="stylesheet">
}

<section class="about-more map" style="background-color: #e5e5e5; padding-top: 5.5%; border-top: 71px solid #000;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-3 col-sm-4" style="padding-top: 8%;">
                <span class="label label-primary" style="font-size: 23px;background-color: #337ab7;">SMART 系列</span>
                <h2 style="margin-top:20px">轻盈级第三代<br>智能交流充电桩</h2>
            </div>
            <div class="col-md-5 col-sm-6">
                <img class="img-responsive" src="../xundao/images/xq1.jpg" alt="#">
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
</section>

<section class="about-more map" style="background: url(../xundao/images/xq_bg1.jpg) no-repeat scroll center top / cover; padding: 5% 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-1"></div>
            <div class="col-lg-8 col-sm-10">
                <h2 style="font-weight: bold;">车要新桩<br>小身材有大智慧</h2>
                <img class="img-responsive" src="../xundao/images/xq23.jpg" alt="#">
            </div>
            <div class="col-lg-2 col-sm-1"></div>
        </div>
    </div>
</section>

<section class="about-more map" style="background: url(../xundao/images/xq_bg2.jpg) no-repeat scroll center top / cover;">
    <div class="container-fluid">
        <div class="row" style="padding: 10% 0;">
            <div class="col-md-3 col-sm-2"></div>
            <div class="col-md-6 col-sm-8">
                <h2>极简主义时尚外观</h2>
                <h4 style="line-height: 26px;">
                    轻盈呼吸灯，7种灯光代表不同状态<br>
                    A4尺寸，更精致，更美好<br>
                    外观2种色彩可选，“桩”点炫亮生活<br>
                    透气式外观，重新定义充电桩设计
                </h4>
                <img class="img-responsive" src="../xundao/images/xq3_2.png" alt="#">
            </div>
            <div class="col-md-3 col-sm-2"></div>
        </div>
    </div>
</section>

<section class="about-more map" style="background-color: #005393; padding: 2% 0;">
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;text-align: -webkit-center;color: #fff;">
            <h2 style="color:#fff">外部防紫外，内部防阻燃</h2>
            <img class="img-responsive" src="../xundao/images/xq3.jpg" alt="#">
        </div>
    </div>
</section>

<section class="about-more map" style="background: url(../xundao/images/xq_bg3.jpg) no-repeat scroll center bottom / cover; padding-bottom: 8%;">
    <div class="container-fluid">
        <div class="row" style="text-align: -webkit-center;margin-top: 50px;">
            <div>
                <h2>PC合金材质充电桩</h2>
            </div>
            <div style="padding-bottom: 46px;margin-top: 20px;">
                <img class="img-responsive" src="../xundao/images/xq4.jpg" alt="#">
            </div>
            <div style="margin-top: 50px;">
                <img class="img-responsive" src="../xundao/images/xq4.png" alt="#">
            </div>
        </div>
    </div>
</section>

<section class="about-more map" style="background-color: #f1f1f1;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-3 col-sm-4" style="margin-top: 15%;">
                <h2>急停按钮 空气开关</h2>
                <h4 class="tag">
                    急停按钮，空气开关，应对可能的突发情况，<br>
                    保证使用过程中的安全
                </h4>
            </div>
            <div class="col-md-5 col-sm-6"><img class="img-responsive" src="../xundao/images/xq5.jpg" alt="#"></div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
</section>

<section class="about-more map" style="background-color: #005393;">
    <div class="container-fluid">
        <div class="row" style="text-align: -webkit-center;margin-top: 40px;margin-bottom: 40px;color: #fff;">
            <h2 style="color:#fff">8重安全保护</h2>
            <div style="margin-top: 40px;">
                <img class="img-responsive" src="../xundao/images/xq6.jpg" alt="#">
            </div>
        </div>
    </div>
</section>

<section class="about-more map">
    <div class="container-fluid">
        <div class="row" style="text-align: -webkit-center;margin-top: 40px;">
            <h2>够宽容</h2>
            <h4>
                与90%以上的新能源车兼容，具备丰富的电动汽车联调经验，<br>
                能为符合国标的车充电
            </h4>
            <img class="img-responsive" src="../xundao/images/xq7.jpg" alt="#">
            <img class="img-responsive" src="../xundao/images/xq8.jpg" alt="#">
        </div>
    </div>
</section>

<section class="about-more map" style="background-color: #005393; text-align: center;padding: 40px 0;color: #fff;">
    <div class="container-fluid">
        <div class="row">
            <h2 style="color:#fff">总是值得信赖</h2>
            <h4 style="color:#fff">
                为90%以上的电动汽车乘用车企业提供高品质充电桩产品<br>
                国家电网、北汽等集团用户的固定供应商，品质靠谱值得信赖
            </h4>
            <h1 style="font-size: 200px; color:#fff">90<i style="font-size: 50px;">%</i></h1>
        </div>
    </div>
</section>

@*<section class="about-more map xqbg4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 col-xs-6 rjjh">
                <img class="img-responsive" src="../xundao/images/st5.jpg" alt="#">
            </div>
            <div class="col-sm-5 col-xs-6" style="padding: 0;">
                <h2>
                    人机交互界面<br>
                    预约充电，计量计费
                </h2>
                <img class="img-responsive bfzws" src="../xundao/images/st6.jpg" alt="#">
                <h4>
                    24小时预约充电，避开高峰期，节约电费50%<br>
                    统计用电量及电费数据，电量电费时刻掌握<br>
                    (具体峰谷电优惠政策，详见当地城市）
                </h4>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>*@

<section class="about-more map" style="margin-top: 10px;">
    <div class="container-fluid" style="padding: 0;">
        <div class="row" style="background-color: #f6f6f6;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-6" style="text-align: right;">
                        <a name="gncs"></a><h2>功能参数</h2>
                    </div>
                    <div class="col-xs-6"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <table class="table gncs_table">
                    <tbody>
                        <tr class="firstRow">
                            <td align="right">规格尺寸</td>
                            <td style="word-break: break-all;">整桩：310×200×75mm</td>
                        </tr>
                        <tr>
                            <td align="right">工作温度</td>
                            <td>-20℃~+50℃</td>
                        </tr>
                        <tr>
                            <td align="right">相对湿度</td>
                            <td>5%~95%</td>
                        </tr>
                        <tr>
                            <td align="right">防护等级</td>
                            <td>IP54</td>
                        </tr>
                        <tr>
                            <td align="right">额定交流工作电压</td>
                            <td style="word-break: break-all;">220V±20%</td>
                        </tr>
                        <tr>
                            <td align="right">额定交流工作电流</td>
                            <td>16/32A</td>
                        </tr>
                        <tr>
                            <td align="right">额定频率</td>
                            <td>50Hz</td>
                        </tr>
                        <tr>
                            <td align="right">海拔高度</td>
                            <td>≤2000M</td>
                        </tr>
                        <tr>
                            <td align="right">状态指示</td>
                            <td style="word-break: break-all;">红绿蓝三色LED指示</td>
                        </tr>
                        <tr>
                            <td align="right">用户身份验证</td>
                            <td>遥控钥匙或身份卡片</td>
                        </tr>
                        <tr>
                            <td align="right">充电控制引导功能</td>
                            <td style="word-break: break-all;">GB/T20234， IEC 61851</td>
                        </tr>
                        <tr>
                            <td align="right">通信方式</td>
                            <td style="word-break: break-all;">以太网、CAN、RS485、2G/4G（选配）</td>
                        </tr>
                        <tr>
                            <td align="right">计量功能</td>
                            <td>2.0级计量表</td>
                        </tr>
                        <tr>
                            <td align="right">防雷功能</td>
                            <td>C级防雷器</td>
                        </tr>
                        <tr>
                            <td align="right">保护功能</td>
                            <td>过、欠压，短路，过载，漏电保护</td>
                        </tr>
                        <tr>
                            <td align="right">剩余电流保护额定动作电流</td>
                            <td>30mA</td>
                        </tr>
                        <tr>
                            <td align="right">剩余电流保护额定动作时间</td>
                            <td>≤0.1秒</td>
                        </tr>
                        <tr>
                            <td align="right">充电连接器机械操作寿命</td>
                            <td>≥10000次</td>
                        </tr>
                        <tr>
                            <td align="right">下载相关文件</td>
                            <td><a href="../xundao/file/XDJ32EM 使用说明书V-1 通用版-20190612-FA.pdf" download="">产品使用说明书</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>

<!--返回顶部-->
<div class="goup-container">
    <div class="goup-arrow"></div>
</div>
<div class="goup-text">返回顶部</div>

@section Scripts{
    <script src="../xundao/js/jquery.goup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                title: '返回顶部',
                titleAsText: true
            });
        });
    </script>
}